{% load i18n extra_tags %}
{% declare %}
    show_tags_in_a_cloud = settings.SHOW_TAGS_IN_A_CLOUD
{% enddeclare %}
<div id="categories-box" class="boxC">
        <h3>Channels</h3>
        <ul>
            <li><a href="http://localhost:8080/tags/ideas/">Ideas</a></li>
            <li><a href="http://localhost:8080/tags/ideas/">Naming</a></li>
            <li><a href="http://localhost:8080/tags/ideas/">Brainstorming</a></li>
            <li><a href="http://localhost:8080/tags/ideas/">Humor</a></li>
            <li><a href="http://localhost:8080/tags/ideas/">Tech</a></li>
            <li><a href="http://localhost:8080/tags/ideas/">Love</a></li>
            <li><a href="http://localhost:8080/tags/ideas/">Memes</a></li>
            <li><a href="http://localhost:8080/tags/ideas/">Entertainment</a></li>
        </ul>
</div>
<div id="latest-themes" class="boxC">
	<h3>Latest themes</h3>
         <span class="tags" id="recent-tags">
        {% for tag in tags %}
            <a rel="tag"{% if show_tags_in_a_cloud %} style="font-size: {% get_tag_font_size tag %}px;"{% endif %}
             class="tag-link-{{ tag.name }}" title="{% blocktrans with tag.name as tagname %}
             see questions tagged '{{tagname}}'{% endblocktrans %}"
             href="{% url tag_questions tag.name|urlencode %}">{{ tag.name }}</a>
        {% endfor %}</span>
        <span class="more-tags"><a href="{% url tags %}">Browse All</a></span>
</div>

