{% load markup %}
{% load user_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load smart_if %}
{% load i18n %}
{% load markup %}
{% load ui_registry markup %}


<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div id="sidebar-profile">
            {% if view_user and not view_user.is_anonymous %}
            <a href="{{ view_user.get_profile_url }}">
                {% gravatar view_user 64 %}
                {{ view_user.decorated_name }}<br/>
                {{view_user.reputation|intcomma}}
                {% ifequal view_user.reputation 1 %} vote {% else %} votes {% endifequal %}</a>
        </div>            {% endif %}
    </div>
</div>

{% if wrap %}
<div class="boxC">
<div id="{{ blockid }}">{% endif %}

    <div id="sidebar-profile">
        {% if view_user and not view_user.is_anonymous %}
             <a href="{{ view_user.get_profile_url }}">
        {% gravatar view_user 80 %}
        {{ view_user.decorated_name }}</a>{% if not view_user.is_suspended %}<br/>
             {{view_user.reputation|intcomma}}
             {% ifequal view_user.reputation 1 %} vote {% else %} votes {% endifequal %}
             {% else %} suspended {{ view_user.suspension.extra.publicmsg }
    </div>
         {% endif %}
</div>
{% if wrap %}
</div>{% endif %}
{% endif %} -->