{% load markup %}
{% load user_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load smart_if %}
{% load i18n %}
{% load markup %}
{% load ui_registry markup %}


    <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
            <!--<div id="sidebar" data-spy="affix" data-offset-top="300">-->
            <a class="btn btn-primary btn-lg btn-block" href="{% url ask %}" role="button">Start a list &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil"></span></a>
            <div id="sidebar-profile">
                {% if view_user and not view_user.is_anonymous %}
                <a href="{{ view_user.get_profile_url }}">
                {% gravatar view_user 64 %}
                {{ view_user.decorated_name }}<br/>
                {{view_user.reputation|intcomma}}
                {% ifequal view_user.reputation 1 %} vote {% else %} votes {% endifequal %}</a>
            </div>            {% endif %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-sm visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Trending</a></li>
                    <li><a href="http://localhost:8000/questions/?sort=newest">Newest</a></li>
                    <li><a href="http://localhost:8000/questions/?sort=mostvoted">Most Voted</a></li>
                    <li>
                        <a href="http://localhost:8000/tags/news/" span class="glyphicon-class"><span class="glyphicon glyphicon-globe"> News</a></span>
                    </li>
                    <li>
                        <a href="http://localhost:8000/tags/tech/" span class="glyphicon-class"><span class="glyphicon glyphicon-phone"> Tech</a></span>
                    </li>
                    <li>
                        <a href="http://localhost:8000/tags/advice/" span class="glyphicon-class"><span class="glyphicon glyphicon-heart"> Advice</a></span>
                    </li>
                    <li>
                        <a href="http://localhost:8000/tags/ideas/" span class="glyphicon-class"><span class="glyphicon glyphicon-certificate"> Ideas</a></span>
                    </li>
                    <li>
                        <a href="http://localhost:8000/tags/sf/" span class="glyphicon-class"><span class="glyphicon glyphicon-map-marker"> SF</a></span>
                    </li>
                    <li>
                        <a href="http://localhost:8000/tags/nyc/" span class="glyphicon-class"><span class="glyphicon glyphicon-map-marker"> NYC</a></span>
                    </li>
                </ul>
            </div>
        <!--</div>-->
    </div>
</div>
    <!--
{% if wrap %}
<div class="boxC">
<div id="{{ blockid }}">{% endif %}

        <div id="sidebar-profile">
            {% if view_user and not view_user.is_anonymous %}
                 <a href="{{ view_user.get_profile_url }}">
            {% gravatar view_user 80 %}
            {{ view_user.decorated_name }}</a>{% if not view_user.is_suspended %}<br/>
                 {{view_user.reputation|intcomma}}
                 {% ifequal view_user.reputation 1 %} vote {% else %} votes {% endifequal %}
                 {% else %} suspended {{ view_user.suspension.extra.publicmsg }
        </div>
             {% endif %}
</div>
{% if wrap %}
</div>{% endif %}
{% endif %} -->