<!-- template answer_edit.html -->
{% load i18n %}
{% load extra_tags %}
{% block forejs %}


<script type="text/javascript" src="{% media '/media/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        menubar : false,
        plugins : 'autolink link code',
        toolbar : "bold italic underline strikethrough subscript superscript | code | link",
        browser_spellcheck : true
    });
</script>

        <script type='text/javascript' src='{% media  "/media/js/html_sanitizer.js" %}'></script>
        <script type="text/javascript">
        
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            $('#editor').TextAreaResizer();


           /*//toggle preview of editor
            var display = true;
            var txt = "{% trans "hide preview" %}";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "{% trans "show preview" %}" : "{% trans "hide preview" %}";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });*/


            $('#id_revision').unbind().change(function(){
                $("#select_revision").click();
            });*/


            answer = $("textarea#editor").tinymce().getContent();
        });


        function submitClicked(e, f) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
                $("input.submit")[1].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        /*function beforeUnload(e) {
            if($("textarea#editor").tinymce().getContent() != answer) {
                 return yourWorkWillBeLost(e);
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);

        var answer = "";*/
        </script>


{% endblock %}
        
<div id="aeditModal" class="modal-content">
    <div tabindex="-1" role="dialog">
        <form id="fmedit" accept-charset="utf-8" method="POST" action="{% url edit_answer answer.id %}">
            {% csrf_token %}
            <div class="modal-header">
                <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <a class="modal-title" a href="{{ answer.question.get_absolute_url }}#{{ answer.id }}">Edit line</a>
            </div>
            <div class="modal-body">
                {% if revision_form.revision.errors %}
                <div class="alert alert-danger">{{ revision_form.revision.errors.as_ul }}</div>
                {% endif %}
                <div style="display:none;">
                    <label for="id_revision">
                    {{ revision_form.revision }}
                    <!--<button type="submit" id="select_revision"
                    name="select_revision">select revision</button>-->
                </div>
                <div class="form-item">
                    {{ form.text.label_tag }}
                    {{ form.text }}
                    <!--<div class="preview-toggle"><span id="pre-collapse" title="{% trans "Toggle the real time Markdown editor preview" %}">
                    {% trans "toggle preview" %}</span></div>
                    {% if form.text.errors %}
                    <div class="alert alert-danger">{{ form.text.errors }}</div>
                    {% endif %}
                </div>

                <!--<div class="form-item">
                    {{ form.summary.label_tag }}
                    {{ form.summary }}
                    <span class="help-text">{{ form.summary.help_text }}</span>
                    {% if form.summary.errors %}
                    <div class="alert alert-danger">
                        {{ form.summary.errors }}
                    </div>
                    {% endif %}
                    {% if form.recaptcha %}
                    <div class="question-captcha">
                        {{ form.recaptcha.errors }}
                        {{ form.recaptcha }}
                    </div>
                    {% endif %}
                </div>-->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="edit" onclick="submitClicked(event, this.form)">Save</button>
                <button type="submit" class="btn btn-default" onclick="submitClicked(event, null); history.back(-1);">Cancel</button>
            </div>
        </form>
    </div>
</div>


{% block endjs %}
{% endblock %}
<!-- end template answer_edit.html -->
