
{% load i18n extra_tags extra_filters %}

<script type="text/javascript" src="{% media '/media/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        menubar : false,
        plugins : 'autolink link code',
        toolbar : "undo redo | bold italic underline strikethrough subscript superscript | code | link",
        browser_spellcheck : true
    });
</script>

<script type="text/html" id="question-summary-template">
    <div class="answer-summary">
        <a href="%URL%"><div class="answer-votes">%SCORE%</div></a>
        <div class="answer-link">
            <a class="question-hyperlink" href="%URL%" title="%SUMMARY%">%TITLE%</a>
        </div>
    </div>
</script>
<script type="text/javascript">
    $(function(){
        $('#fmask').on('submit', function(e){
            e.preventDefault();
            $.post('{% url ask %}',
                   $('#fmask').serialize(),
                   function(data, status, xhr){
                       // Page will contain the magic string iff it's not a redirect,
                       // because then it'll be in this text!
                       var magicString = '__ask_page_render_in_modal__';
                       if(data.indexOf(magicString) == -1) {
                           // We've been redirected.
                           var newDoc = window.document.open("text/html", "replace");
                           newDoc.write(data);
                           newDoc.close();
                       } else {
                           $('#askModal-content').html(data);
                       }
                   });
            return false;
        });
    });

    $(function(){
        //set current module button style
        $("#nav_ask").attr('className',"on");
        $('#editor').TextAreaResizer();

        //toggle preview of editor
        //todo remove copy-paste
        var display = true;
        var txt = "[{% trans 'hide preview' %}]";
        $('#pre-collapse').text(txt);
        $('#pre-collapse').bind('click', function(){
            txt = display ? "[{% trans 'show preview' %}]" : "[{% trans 'hide preview' %}]";
            display = !display;
            $('#previewer').toggle();
            $('#pre-collapse').text(txt);
        });

        //Tags autocomplete action
        $("#id_tags").autocomplete("{% url matching_tags %}", {
            minChars: 1,
            matchContains: true,
            max: 10,
            multiple: true,
            multipleSeparator: " ",
            highlightItem: true,
            scroll: true,
            scrollHeight: 300,


            /*
             formatItem: function(row, i, max) {
             return row.n + " ("+ row.c +")";
             },
             formatResult: function(row, i, max){
             return row.n;
             }
             */

            formatItem: function(row, i, max, value) {
                return row[1] + " (" + row[2] + ")";
            },

            formatResult: function(row, i, max, value){
                return row[1];
            }

        });

    });

    function submitClicked(e, f) {
        if(!(browserTester('chrome') || browserTester('safari'))) {
            $("input.submit")[0].disabled=true;
        }
        window.removeEventListener('beforeunload', beforeUnload, true);
    }

    function beforeUnload(e) {
        if($("input#id_title")[0].value != "" || $("textarea#editor")[0].value != "" || $("input#id_tags")[0].value != "") {
            return yourWorkWillBeLost(e);
        }
    }
    window.addEventListener('beforeunload', beforeUnload, true);

    var related_questions_url = "{% url related_questions %}";
</script>
<script src="{% media '/media/js/osqa.ask.js' %}" type="text/javascript"></script>

<div tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Start a new list</h4>
    </div>
    <div class="modal-body">
        <div id="main-body" class="ask-body">
            <div id="askform">


        <form id="fmask" accept-charset="utf-8">
        {% csrf_token %}
{% if not request.user.is_authenticated %}
<div class="message">
        <span class="strong big">{% trans "You are welcome to start submitting your question anonymously." %}</span>
        <p>{% blocktrans %}
After submiting your question, you will be redirected to the login/signup page.
        Your question will be saved in the current session and will be published after you login with your existing account,
        or signup for a new account{% endblocktrans %}{% if "ask"|contained_in:settings.REQUIRE_EMAIL_VALIDATION_TO %}
{% trans "and validate your email." %}{% else %}.{% endif %}</p>
</div>
{% else %}
{% if not request.user.email_valid_and_can_ask %}
<div class="message">
        {% blocktrans %}Remember, your question will not be published until you validate your email.{% endblocktrans %}
<a href="{% url send_validation_email %}">{% trans "Send me a validation link." %}</a>
</div>
{% endif %}
{% endif %}
<div class="form-item">
        <label for="id_title" ><strong>{{ form.title.label_tag }}:</strong></label> <span class="form-error"></span><br/>
{{ form.title }} {{ form.title.errors }}
<div class="title-desc">
{{ form.title.help_text }}
</div>
</div>
<div id="ask-related-questions"></div>
<div class="form-item">
        <div id="wmd-button-bar" class="wmd-panel"></div>
{{ form.text }} {{ form.text.errors }}

<span class="form-error"></span>
</div>
<div class="form-item">
        <strong>{{ form.tags.label_tag }}:</strong> {% trans "(required)" %} <span class="form-error"></span><br/>
{{ form.tags }}  {{ form.tags.errors }}
</div>
<p class="title-desc">
{{ form.tags.help_text }}
</p>

{% if form.recaptcha %}
<div class="question-captcha" style="float: left">
{{ form.recaptcha.errors }}
{{ form.recaptcha }}
</div>
<div class="clear"></div>
{% endif %}

<div class="modal-footer">
        {% if not request.user.is_authenticated %}
<button type="button" input class="btn btn-primary" name="ask" class="submit" onclick="submitClicked(event, this.form)">Log in to start a list</button>
{% else %}
<button type="submit" input class="btn btn-primary" name="ask" class="submit" onclick="submitClicked(event, this.form)">Post your list</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{% endif %}
</div>
</form>
</div>
</div>
</div>

</div>

