{% extends "base_content.html" %}


{% block full_width_banner %}{% endblock %}
{% block site_width_banner %}{% endblock %}


{% block page_center %}
<div class="row clearfix">
  <div class="pagecenter">
        <div id="leftCol" class="col-md-1">
            {% block sidebar %}
            {% endblock%}
        </div>
        <div id="centerCol" class="col-md-8">
            {% block content %}
            {% endblock%}
        </div>
        <div id="rightbar" class="col-md-3">
            {% block rightbar %}
            {% endblock%}
        </div>
  </div>
        <div id="tail" style="clear:both;">
            {% block tail %}
            {% endblock %}
        </div>
</div>
{% endblock %}






