{% extends "base_content.html" %}

    {% block page_center %}
    {% block full_width_banner %}{% endblock %}
<div id="wrapper">
    {% block site_width_banner %}{% endblock %}

    <div class="container">
            <div id="house">
                    <div id="CALeft"
                         <div class="col-md-9">
                     {% block content%}
                     {% endblock%}</div>
                    </div>
                    <div id="CARight">
                        <div class="col-md-3">
                      {% block sidebar %}
                      {% endblock%}</div>
                    </div>
                <div id="tail" style="clear:both;">
                    {% block tail %}
                    {% endblock %}
                </div>
            </div>
        <div class="spacer3"></div>
    </div>
</div>
    {% endblock %}