{% extends "base.html" %}


{% block full_width_banner %}{% endblock %}
{% block site_width_banner %}{% endblock %}


{% block page_center %}
<div class="row clearfix">
    <div class="pagecenter">
        <div id="leftbar" class="hidden-xs hidden-sm col-md-2">
            {% block sidebar %}
            {% endblock%}
        </div>
        <div id="centercol" class="col-xs-12 col-sm-12 col-md-7">
            {% block content %}
            {% endblock%}
        </div>
        <div id="rightbar" class="hidden-xs hidden-sm col-md-3">
            {% block rightbar %}
            {% endblock%}
        </div>
    </div>
    <div id="tail">
        {% block tail %}
        {% endblock %}
    </div>
</div>
{% endblock %}