<!-- template header.html -->
{% load extra_tags ui_registry i18n extra_filters markup %}


<header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<img src="{{ settings.APP_LOGO }}" title="home" alt="{{settings.APP_TITLE}} logo"/>-->
        </div>
    </div>
        <div class="collapse navbar-collapse js-navbar-collapse">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-sm-4 col-md-3">
                <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></a>
                    <ul class="dropdown-menu dropdown-menu-large row" style="padding: 15px 0px;min-width: 550px;">
                        <li class="col-sm-4">
                            <ul>
                                <li class="dropdown-header">Lists</li>
                                <li><a id="active" href="{{ base_url }}/questions/?sort=active"{% ifequal current "active" %} class="on"{% endifequal %} title="Most recently active lists">active</a></li>
                                <li><a id="trending" href="{{ base_url }}/questions/?sort=trending"{% ifequal current "trending" %} class="on"{% endifequal %} title="Most active lists in the last 24 hours">trending</a></li>
                                <li><a id="newest" href="{{ base_url }}/questions/?sort=newest"{% ifequal current "newest" %} class="on"{% endifequal %} title="Most recently started lists">newest</a></li>
                                <li><a id="mostvoted" href="{{ base_url }}/questions/?sort=mostvoted"{% ifequal current "mostvoted" %} class="on"{% endifequal %} title="Most voted lists">most voted</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Dropdowns</li>
                                <li class="disabled"><a href="#">Coming soon</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li class="dropdown-header">Categories</li>
                                <li>
                                    <a href="http://localhost:8000/tags/news/"><span class="glyphicon glyphicon-globe"></span>News
                                </li>
                                <li>
                                    <a href="http://localhost:8000/tags/tech/"><span class="glyphicon glyphicon-phone"></span>Tech</a>
                                </li>
                                <li>
                                    <a href="http://localhost:8000/tags/advice/"><span class="glyphicon glyphicon-heart"></span>Advice</a>
                                </li>
                                <li>
                                    <a href="http://localhost:8000/tags/ideas/"><span class="glyphicon glyphicon-certificate"></span>Ideas</a>
                                </li>

                                <li class="divider"></li>
                                <li class="dropdown-header">Cities</li>
                                <li>
                                    <a href="http://localhost:8000/tags/sf/" span class="glyphicon-class"><span class="glyphicon glyphicon-map-marker">SF</a></span>
                                </li>
                                <li>
                                    <a href="http://localhost:8000/tags/nyc/" span class="glyphicon-class"><span class="glyphicon glyphicon-map-marker">NYC</a></span>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">All</li>
                                <li><a id="mostvoted" href="{{ base_url }}/tags/" class="glyphicon-class"><span class="glyphicon glyphicon-map-marker">categories</a></span></li>
                            </ul>
                        <li class="col-sm-4">
                            <ul>
                                <li class="dropdown-header">Featured</li>
                                <li><a href="#">Basic example</a></li>
                                <li><a href="#">Sizing</a></li>
                                <li><a href="#">Checkboxes and radio addons</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Navs</li>
                                <li><a href="#">Tabs</a></li>
                                <li><a href="#">Pills</a></li>
                                <li><a href="#">Justified</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <a class="navbar-brand" href="{% url index %}">Mowt</a>
            </div>
            <div class="col-lg-2 col-md-3 col-md-offset-4 col-sm-4">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <ul class="nav navbar-nav">
                <li class="dropdown">
                    {% if user_authenticated %}
                    {% gravatar view_user 30 %}<b class="caret"></b></a>
                    {% else %}
                    <a href="http://localhost:8000/account/signin/" class="dropdown-toggle" data-toggle="dropdown">Sign in<b class="caret"></b></a>
                    {% endif %}

                    <ul class="dropdown-menu" style="padding: 15px 0px;min-width: 250px;">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Username" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Verify my email
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Sign in</button>

                                        </div>
                                        <li class="divider"></li>

                                        <input class="btn btn-info btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
                                        <input class="btn btn-primary btn-block" type="button" id="sign-in-facebook" value="Sign In with Facebook">
                                        <input class="btn btn-danger btn-block" type="button" id="sign-in-google" value="Sign In with Google">
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                </ul>
                <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="http://localhost:8000/account/signin/" class="dropdown-toggle" data-toggle="dropdown">
                        {% if view_user_authenticated %}
                        {% gravatar view_user 20 %}<b class="caret"></b></a>
                        {% else %}
                         <span class="glyphicon glyphicon-cog"><b class="caret"></b>
                        {% endif %}
                    <ul class="dropdown-menu">
                        <li>{% loadregistry USERNAME_SCORE_BADGE %}{% endloadregistry %}</li>
                        <li>{% loadregistry ADMIN_SUPERUSER %}{% endloadregistry %}</li>
                        <li>{% loadregistry PROFILE_TABS %}{% endloadregistry %}</li>
                        <li>{% loadregistry USER_MENU %}{% endloadregistry %}</li>
                        <li class="divider"></li>
                        <li>{% loadregistry LOGIN_OUT %}{% endloadregistry %}</li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>
</header>

