<!-- template header.html -->
{% load extra_tags ui_registry i18n extra_filters markup %}
<div id="shingles">&nbsp;</div>
<div id="roof">
    <div id="top">
        {% loadregistry header_links %}{% endloadregistry %}
    </div>
    <div id="logo">
        <a href="{% url index %}">
            <img src="{{ settings.APP_LOGO }}" title="{% trans "go home" %}" alt="{{settings.APP_TITLE}} logo"/>
        </a>
    </div>

    <div id="nav">
        {% loopregistry page_top_tabs %}{% spaceless %}
        <a id="nav_{{ tab_name }}"{% ifequal tab tab_name %} class="on"{% endifequal %} href="{{ tab_url }}" >{{ tab_title }}</a>
        {% endspaceless %}{% endloopregistry %}
        <a id="nav_ask" href="{% url ask %}" class="special"{% ifequal tab tab_name %} class="on"{% endifequal %}>Add new topic</a>
    </div>
</div>
<div id="searchBar"></div>
{% if settings.USE_ANNOUNCEMENT_BAR|or_preview:request %}
<div id="announcement">
    {{ settings.ANNOUNCEMENT_BAR|or_preview:request|static_content:settings.ANNOUNCEMENT_BAR_RENDER_MODE }}
</div>
{% endif %}
