<!-- template header.html -->
{% load extra_tags ui_registry i18n extra_filters markup %}


    <nav class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars fa-2x"></i></a>
                    <ul class="dropdown-menu dropdown-menu-large row" style="width: 550px; padding: 15px 0 20px;">
                        <div class="col-sm-4">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="dropdown-header">{% include "question_list/title.html" %}</li>
                                <li>{% include "question_list/sort_tabs.html" %}</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="dropdown-header">Cities</li>
                                <li><a href="{{ base_url }}/tags/sf/"><i class="fa nav-i fa-camera-retro fa-lg"></i>  San Francisco</a>
                                </li>
                                <li><a href="{{ base_url }}/tags/nyc/"><i class="fa nav-i fa-camera" fa-lg></i>  New York City</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">More</li>
                                <li><li class="disabled"><a href="#"><i class="fa nav-i fa-map-marker fa-lg"></i>Coming soon</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="nav nav-pills nav-stacked">
                            <li class="dropdown-header">Categories</li>

                            <li><a href="{{ base_url }}/tags/news/"><i class="fa nav-i fa-globe fa-lg"></i>  News</a>
                            </li>
                            <li><a href="{{ base_url }}/tags/tech/"><i class="fa nav-i fa-mobile fa-2x"></i>  Tech</a>
                            </li>
                            <li><a href="{{ base_url }}/tags/news/"><i class="fa nav-i fa-comments-o fa-lg"></i>  Advice</a>
                            </li>
                            <li><a href="{{ base_url }}/tags/news/"><i class="fa nav-i fa-lightbulb-o fa-lg"></i>  Ideas</a>
                            </li>
                            <li><a href="{{ base_url }}/tags/news/"><i class="fa nav-i fa-heart-o fa-lg"></i>  Love</a>
                            </li>
                            <li><a href="{{ base_url }}/tags/wordplay/"><i class="fa nav-i fa-keyboard-o fa-lg"></i>  Wordplay</a>
                            </li>
                                </ul>
                        </div>
                    </ul>
                </li>
                <a class="navbar-brand" href="{% url index %} ">mowt</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div class="navbar-left">
                    <form action="{% url search %}" class="navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control navsearch" placeholder="Search" name="q">
                            <button class="btn btn-default navsearch" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            {% if user and user.is_anonymous %}
                <li class="dropdown">
                    <button class="btn btn-default navbar-btn" data-toggle="modal" a href="{% url auth_signin %}" data-target="#authModal">
                        Sign In
                    </button>
                </li>
                {% else %}
                <li class="dropdown">
                <button class="btn btn-default navbar-btn" data-toggle="modal" a href="{% url ask %}" data-target="#askModal">
                    Start a list &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil"></span>
                </button>
                </li>
                {% endif %}
                    {% if user.is_authenticated %}
                <li class="dropdown">
                    <p class="navbar-gravatar dropdown-toggle" data-toggle="dropdown">
                        {% gravatar user 34 %} <b class="caret"></b></p>
                    {% else %}
                </li>
                <li class="dropdown navbar-nav">
                    <!--<button type="button" class="btn btn-default navbar-btn" data-toggle="dropdown" a href="{{ base_url }}/account/signin/">
                        Sign In <b class="caret"></b>-->
                    </button>
                    {% endif %}
                    <ul class="dropdown-menu">
                        <li>{% loadregistry USERNAME_SCORE_BADGE %}{% endloadregistry %}</li>
                        <li>{% loadregistry PROFILE_TABS %}{% endloadregistry %}</li>
                        <li>{% loadregistry USER_MENU %}{% endloadregistry %}</li>
                        <li>{% loadregistry FOOTER_LINKS %}{% endloadregistry %}</li>
                        <li>{% loadregistry ADMIN_SUPERUSER %}{% endloadregistry %}</li>
                        <li class="divider"></li>

                        <li>{% loadregistry LOGIN_OUT %}{% endloadregistry %}</li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>


