<!--{% extends "questions.html" %}
 index.html -->

{% load general_sidebar_tags %}
{% load question_list_tags %}
{% include "question_list/count.html" %}
{% if request.user.is_authenticated %}
{% tag_selector %}
{% endif %}
{% recent_awards %}

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--<script src="<?=base_url('assets/js/bootstrap.min.js')?>"></script>-->
<script src="<?=base_url('masonry/masonry.min.js')?>"></script>
<script src="<?=base_url('masonry/masonry.js')?>"></script>

<script type="text/javascript">

    var msnry = $container.data('masonry');

    var container = $('#container');
    container.imagesLoaded( function(){
        container.masonry({
            itemSelector : '.item'
        });
    });

</script>
<script type="text/javascript">
$( document ).ready(function() {
$('#container').masonry({
columnWidth: 200,
itemSelector: '.item'
});
});
</script>

{% block fulltitle %}{{ settings.APP_TITLE }}
{% endblock %}


{% block masthead %}
<div id="masthead">
<div class="container">
   <div class="row">
            <div class="col-md-4">
                <div id="masthead-item">
                    <center>
                         <img src="http://static.tumblr.com/53bec08a7d086c93e69245b8739d630f/zq6vc7t/A8Fmne9jy/tumblr_static_cursor_hand.png" alt="the-brains">
                    </center>
                </div>
            </div>
            <div class="col-md-4">
                <div id="masthead-item">
                    <center>
                        <p>Vote on a line to make it rise to the top of a list</p>
                        <p>Click a list to post your own line, or start your own</p>
                        <p>The top voted line in a list appears here on the mainpage</p>
                    </center>
                </div>
            </div>
            <div class="col-md-4">
                <div id="masthead-item">
                    <center>
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Join Mowt
                        </button>
                    </center>
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="form-signin">
                                <h3 class="heading-desc" class="modal-title" id="SignupModal">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    Sign up for Mowt</h3>
                                <div class="social-box">
                                    <div class="row mg-btm">
                                        <div class="col-md-12">
                                            <a href=http://localhost:8000/account/facebook/signin/" class="btn btn-primary btn-block">
                                                <i class="icon-facebook"></i>    Login with Facebook
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="http://localhost:8000/account/twitter/signin/" class="btn btn-info btn-block" >
                                                <i class="icon-twitter"></i>    Login with Twitter
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="main">
                                    {% if msg %}
                                    <p class="error">{{ msg }}</p>
                                    {% endif %}
                                    <input type="text" class="form-control" placeholder="Username" autofocus>
                                    <input type="password" class="form-control" placeholder="Password">
                                    Are you a business? <a href=""> Get started here</a>
                                    <span class="clearfix"></span>
                                </div>
                                <div class="login-footer">
                                    <div class="row">
                                        <div class="col-xs-8 col-md-8">
                                            <div class="left-section">
                                                <a href="{% url auth_request_tempsignin %}">Forgot your password?</a><br/>
                                                <a href="http://localhost:8000/account/signin/">Sign up now</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-md-4 pull-right">
                                            <button type="submit" class="btn btn-large btn-danger pull-right">Login</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
   </div>

    <div class="row clearfix">
        <div class="tabBar">
            <div class="hiden-xs hidden-sm col-md-3 col-lg-4">
                <div class="headQuestions">{% include "question_list/title.html" %}</div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
                <div class="tabsA">{{ questions.paginator.sort_tabs }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}-->


{% if not request.user.is_authenticated %}
{% if settings.SHOW_WELCOME_BOX %}
    <div class="boxA">
        <h3>"welcome to "{{ settings.APP_SHORT_NAME }}</h3>
        <div class="body">
          {{ settings.APP_INTRO|safe }}
          <div class="more"><a href="{% url about %}">About </a></div>
          <div class="more"><a href="{% url faq %}">FAQ </a></div>
        </div>
    </div>
{% endif %}
{% endif %}



{% block content %}

<div class="row clearfix">
    <div id="content-lists">
        <div id="listA">
            <div class="row">
                {% for question in questions.paginator.page %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    {% question_list_item question %}
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 col-md-offset-8">
        <div class="pagesize">{{ questions.paginator.page_sizes }}</div>
        <div class="pager">{{ questions.paginator.page_numbers }}</div>

        <ul class="pagination">
            <li>
                <a href="#">Prev</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

<!-- index.html -->

