{% extends "questions.html" %}

{% load general_sidebar_tags %}
{% load question_list_tags %}
{% include "question_list/count.html" %}
{% if request.user.is_authenticated %}
{% tag_selector %}
{% endif %}
{% recent_awards %}

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--<script src="<?=base_url('assets/js/bootstrap.min.js')?>"></script>-->
<script src="<?=base_url('masonry/masonry.min.js')?>"></script>
<script src="<?=base_url('masonry/masonry.js')?>"></script>

<script type="text/javascript">

    var msnry = $container.data('masonry');

    var container = $('#container');
    container.imagesLoaded( function(){
        container.masonry({
            itemSelector : '.item'
        });
    });

</script>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#container').masonry({
            columnWidth: 200,
            itemSelector: '.item'
        });
    });
</script>

{% block fulltitle %}{{ settings.APP_TITLE }}
{% endblock %}


{% block masthead %}
<div class="container">
    <div class="row">
        <div id="masthead">
            <ul class="nav nav-pills main-nav">
                <li class="active"><div class="home-header">{% include "question_list/title.html" %}</div></li>
                <li class="home-nav">{{ questions.paginator.sort_tabs }}</li>
                <li>
                    <a href="http://localhost:8000/tags/wordplay/">News</a>
                </li>
                <li>
                    <a href="http://localhost:8000/tags/tech/">Tech</a>
                </li>
                <li>
                    <a href="http://localhost:8000/tags/wordplay/">Advice</a>
                </li>
                <li>
                    <a href="http://localhost:8000/tags/memes/">Ideas</a>
                </li>
                <li>
                    <a href="http://localhost:8000/tags/love/">Love</a>
                </li>
                <li>
                    <a href="http://localhost:8000/tags/wordplay/">Wordplay</a>
                </li>
                <li>
                    <a href="http://localhost:8000/tags/tech/">SF</a>
                </li>
                <li>
                    <a href="http://localhost:8000/tags/love/">NYC</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}


{% if not request.user.is_authenticated %}
{% if settings.SHOW_WELCOME_BOX %}
<div class="boxA">
    <h3>"welcome to "{{ settings.APP_SHORT_NAME }}</h3>
    <div class="body">
        {{ settings.APP_INTRO|safe }}
        <div class="more"><a href="{% url about %}">About </a></div>
        <div class="more"><a href="{% url faq %}">FAQ </a></div>
    </div>
</div>
{% endif %}
{% endif %}

{% block content %}
<div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="askModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"><div class="modal-content"></div></div>
</div>
<div class="container-fluid">
<div class="row clearfix">
    <div id="content-lists">
        <div class="row clearfix js-masonry">
            {% for question in questions.paginator.page %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                {% question_list_item question %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<div class="row clearfix">
    <div class="col-md-2 col-md-offset-10">
        {{ questions.paginator.page_sizes }}
        {{ questions.paginator.page_numbers }}
    </div>
</div>
{% endblock %}

<!-- index.html -->
