<!-- question_edit.html -->
{% load i18n %}
{% load extra_tags %}
{% block forejs %}

        <script type="text/javascript" src="{% media '/media/tinymce/tinymce.min.js' %}"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: "textarea",
                menubar : false,
                plugins : 'autolink link code',
                height : 100,
                toolbar : "bold italic underline strikethrough subscript superscript | code | link",
                browser_spellcheck : true
            });
        </script>

        <script type='text/javascript' src='{% media  "/media/js/html_sanitizer.js" %}'></script>
        <script type="text/javascript">
		//todo move javascript out        
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            $('#editor').TextAreaResizer();
            
            /*
            //toggle preview of editor
            var display = true;
            var txt = "[{% trans "hide preview" %}]";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "[{% trans "show preview" %}]" : "[{% trans "hide preview" %}]";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });*/
            
            //Tags autocomplete action
        	$("#id_tags").autocomplete("{% url matching_tags %}", {
        		matchContains: true,
                max: 20,
                multiple: true,
                multipleSeparator: " ",
                highlightItem: true,
                scroll: true,
                scrollHeight: 300,
        		/*formatItem: function(row, i, max) {
        			return row.n + " ("+ row.c +")";
        		},
                formatResult: function(row, i, max){
                    return row.n;
                }*/
                formatItem: function(row, i, max, value) {
                    return row[1] + " (" + row[2] + ")";
                },

                formatResult: function(row, i, max, value){
                    return row[1];
                }
                
            });         

            /*$('#id_revision').unbind().change(function(){
                $("#select_revision").click();
            });*/

            init = $("textarea#editor").tinymce().getContent();

            title = $("input#id_title")[0].value;
            body = $("textarea#editor").tinymce().getContent();
            tag = $("input#id_tags")[0].value;
        });

        function submitClicked(e, f) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
                $("input.submit")[1].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        /*function beforeUnload(e) {
            if($("input#id_title")[0].value != title || $("textarea#editor").tinymce().getContent() != body || $("input#id_tags")[0].value != tag) {
                 return yourWorkWillBeLost(e);
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);

        var init = "";
        var title = "";
        var body = "";
        var tag = "";*/
        </script>
{% endblock %}


<div id="qeditModal" class="modal-content">
    <div tabindex="-1" role="dialog">
        <form id="fmedit" accept-charset="utf-8" method="POST" action="{% url edit_question question.id %}">
            {% csrf_token %}
        <div class="modal-header">
            <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <a class="modal-title" href="{{ question.get_absolute_url }}#{{ answer.id }}">Edit List</a>
        </div>
        <div class="modal-body">
            {% if revision_form.revision.errors %}
                <div class="alert alert-danger">{{ revision_form.revision.errors.as_ul }}</div>
            {% endif %}
            <div style="display:none;">
                {{ revision_form.revision }}
                <!--<input type="submit" style="display:none" id="select_revision"
                name="select_revision" value="{% trans "select revision"%}">-->
            </div>
                <label for="id_title" >{{ form.title.label_tag }}</label>
                {{ form.title }}
            <!--<span class="help-text">
                {{ form.title.help_text }}
            </span>-->
                {% if form.title.errors %}
                <div class="alert alert-danger">
                    {{ form.title.errors }}
                </div>
                {% endif %}
            <div class="form-item">
                {{ form.text.label_tag }}
                {{ form.text }}
            <!--<div class="preview-toggle"><span id="pre-collapse" title="{% trans "Toggle the real time Markdown editor preview" %}">
            {% trans "toggle preview" %}</span></div>-->
            </div>
            <div class="form-item">
                {{ form.tags.label_tag }}
                {{ form.tags }}

                <span class="help-text">{{ form.tags.help_text }}</span>
                {% if form.tags.errors %}
                <div class="alert alert-danger">
                    {{ form.tags.errors }}
                </div>
                {% endif %}
            </div>
        </div>
            <!--<strong>{{ form.summary.label_tag }}</strong> <br/>
            {{ form.summary }}
            {% if form.summary.errors %}
            <div class="alert alert-danger">
                {{ form.summary.errors }}
            </div>
            {% endif %}
            <div class="title-desc">
                {{ form.summary.help_text }}
            </div>
            
            {% if form.recaptcha %}
            <div class="question-captcha" style="float: left">
            	{{ form.recaptcha.errors }}
            	{{ form.recaptcha }}
            </div>
            {% endif %}-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="edit" onclick="submitClicked(event, this.form)">Save</button>
                <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
</div>

        {% block endjs %}
        {% endblock %}
<!-- end question_edit.html -->

