{% extends "base.html" %}
<!-- question.html -->


{% load question_list_tags %}
{% include "question_list/count.html" %}
{% if request.user.is_authenticated %}
{% tag_selector %}
{% endif %}
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load general_sidebar_tags %}
{% load smart_if %}
{% load humanize %}
{% load i18n %}
{% load cache %}
{% load ui_registry markup %}
{% block metadescription %}{{ question.meta_description }}{% endblock %}
{% block metakeywords %}{{question.tagname_meta_generator}}{% endblock %}
{% block meta %}
<link rel="canonical" href="{{settings.APP_BASE_URL}}{{question.get_absolute_url}}" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ question.get_absolute_url }}?type=rss">
{% endblock %}
{% block title %}{% spaceless %}{{ question.headline }}{% endspaceless %}{% endblock %}
{% block forejs %}
{% if not question.nis.closed %}
<script type='text/javascript' src='{% media  "/media/js/osqa.question.js" %}'></script>
<script type='text/javascript' src='{% media  "/media/js/jquery.caret.js" %}'></script>

        <!--
<script type='text/javascript' src='{% media  "/media/js/wmd/showdown.js" %}'></script>
<script type='text/javascript' src='{% media  "/media/js/wmd/wmd.js" %}'></script>
<link rel="stylesheet" type="text/css" href="{% media  "/media/js/wmd/wmd.css" %}" />

-->

<script type='text/javascript' src='{% media  "/media/js/html_sanitizer.js" %}'></script>

{% if embed_youtube_videos %}
<script type='text/javascript' src='{% media  "/media/js/viewbox_min.js" %}'></script>
<script type='text/javascript' src='{% media  "/media/js/youtube.js" %}'></script>
<link rel="stylesheet" type="text/css" href="{% media  "/media/js/viewbox.css" %}" />
{% endif %}
{% endif %}

<script type="text/javascript">
    $().ready(function(){
        $("#nav_questions").attr('className',"on");
        var answer_sort_tab = "{{ tab_id }}";

        if (answer_sort_tab) {
            $("#" + answer_sort_tab).attr('className',"on");
        }

        $('#editor').TextAreaResizer();

        //toggle preview of editor
        var display = true;
        var txt = "[{% trans "hide preview" %}]";
        $('#pre-collapse').text(txt);
        $('#pre-collapse').bind('click', function(){
            txt = display ? "[{% trans "show preview" %}]" : "[{% trans "hide preview" %}]";
            display = !display;
            $('#previewer').toggle();
            $('#pre-collapse').text(txt);
        });
    });

    function submitClicked(e, f) {
        if(!(browserTester('chrome') || browserTester('safari'))) {
            $("input.submit")[0].disabled=true;
        }
        window.removeEventListener('beforeunload', beforeUnload, true);
        if (f) {
            f.submit();
        }
    }

    function beforeUnload(e) {

        if($("textarea#editor").tinymce().getContent() != "") {
            return yourWorkWillBeLost(e);
        }

        var commentBoxes = $("textarea.commentBox");
        for(var index = 0; index < commentBoxes.length; index++) {
            if(commentBoxes[index].value != "") {
                return yourWorkWillBeLost(e);
            }
        }
    }
    window.addEventListener('beforeunload', beforeUnload, true);
</script>
<noscript>
    <style>
        .comment.not_top_scorer {
            display: block;
        }
        .comment-form-container {
            display: block;
        }
        .div.comment-tools {
            display: none;
        }
    </style>
</noscript>
{% endblock %}


    {% block sidebar %}
    <div id="sidebar-profile" class="row clearfix">
                    <a class="btn btn-primary btn-lg btn-block" href="{% url ask %}" role="button">Start a list &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil"></span></a>
                    {% if view_user and not view_user.is_anonymous %}
                    <a href="{{ view_user.get_profile_url }}">
                        {% gravatar view_user 64 %}
                        {{ view_user.decorated_name }}<br/>
                        {{view_user.reputation|intcomma}}
                        {% ifequal view_user.reputation 1 %} vote {% else %} votes {% endifequal %}</a>
                           {% endif %}

        {% cache 60 questions_tags settings.APP_URL question.id %}
        <div class="boxC" id="subscription_box">{% include "subscription_status.html" %}</div>

        {% markdown_help %}
        <div class="boxC">
            <p>Categories</p>
            <p class="tags">
                {% for tag in question.tags.all %}
                <a href="{% url tag_questions tag.name|urlencode %}"
                   class="tag-link-{{ tag.name }}"
                   title="{% trans "see questions tagged"%}'{{tag.name}}'{% trans "using tags" %}"
                rel="tag">{{ tag.name }}</a> <span class="tag-number">&#215;{{ tag.used_count|intcomma }}</span><br/>
                {% endfor %}
            </p>
            <p>List started <strong title="{{ question.added_at }}">{% diff_date question.added_at %}</strong>
            </p>
            <p>List last seen <strong>{{ question.view_count|intcomma }} times</strong>
            </p>
            <p>List last updated <strong title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</strong>
            </p>
        </div>
        {% endcache %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-sm visible-xs navbar-brand">Sidebar menu</span>
                </div>

                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">Trending</a></li>
                        <li><a href="http://localhost:8000/questions/?sort=newest">Newest</a></li>
                        <li><a href="http://localhost:8000/questions/?sort=mostvoted">Most Voted</a></li>
                        <li>
                            <a href="http://localhost:8000/tags/news/" span class="glyphicon-class"><span class="glyphicon glyphicon-globe"> News</a></span>
                        </li>
                        <li>
                            <a href="http://localhost:8000/tags/tech/" span class="glyphicon-class"><span class="glyphicon glyphicon-phone"> Tech</a></span>
                        </li>
                        <li>
                            <a href="http://localhost:8000/tags/advice/" span class="glyphicon-class"><span class="glyphicon glyphicon-heart"> Advice</a></span>
                        </li>
                        <li>
                            <a href="http://localhost:8000/tags/ideas/" span class="glyphicon-class"><span class="glyphicon glyphicon-certificate"> Ideas</a></span>
                        </li>
                        <li>
                            <a href="http://localhost:8000/tags/sf/" span class="glyphicon-class"><span class="glyphicon glyphicon-map-marker"> SF</a></span>
                        </li>
                        <li>
                            <a href="http://localhost:8000/tags/nyc/" span class="glyphicon-class"><span class="glyphicon glyphicon-map-marker"> NYC</a></span>
                        </li>
                    </ul>
                </div>
    </div>
{% endblock%}

{% block content %}

    <div class="list-top">
        <div class="row">
            <div class="col-md-1"><div class="vote-buttons">{% vote_buttons question request.user %}</div></div>
            <div class="col-md-8"><h2><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></h2><div class="question-body">{{ question.html|safe }}{% post_classes question %}</div></div>
            <div class="col-md-3">{% contributors_info question %}</div>
        </div>
        <div class="row">
            <div class="col-md-1">{% favorite_mark question request.user %}</div>
            <div class="col-md-8"></div>
            <div class="col-md-3">{% post_controls question request.user %}<!--{% wiki_symbol request.user question %}--></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8"><div class="comments-container">{% comments question request.user %}</div></div>
            <div class="col-md-3">{% for tag in question.tagname_list %}
                <a href="{% url tag_questions tag|urlencode %}" class="post-tag tag-link-{{ tag }}"
                   title="{% blocktrans with tag as tagname %}see questions tagged '{{ tagname }}'{% endblocktrans %}" rel="tag">{{ tag }}</a>{% endfor %}</div>
        </div>
    </div>


{% if answers %}
<div id="list-tabs">
        <div class="row">
            <div class="col-md-4"><div class="tabs-headline">{% blocktrans count answers.paginator.count as counter %}One line{% plural %}{{counter}} lines{% endblocktrans %}</div></div>
            <div class="col-md-8"><div class="list-tabs">{{ answers.paginator.sort_tabs }}</div></div>
        </div>
    </div>
<!--{{ answers.paginator.page_numbers }}-->

{% for answer in answers.paginator.page %}

    <div id="answer-container-{{ answer.id }}" class="answer {% post_classes answer %}{% ifequal answer.id focused_answer_id %} focusedAnswer{% endifequal %}">
    <a name="{{ answer.id }}"></a>
         <div class="row">
             <div class="col-xs-1 col-md-1"><div class="vote-buttons">{% vote_buttons answer request.user %}</div></div>
             <div class="col-xs-11 col-md-8"><div class="answer-body">{{ answer.html|safe }}</div></div>
             <div class="col-xs-11 col-md-3"><div class="post-update-info-container">{% contributors_info answer %}</div></div>
         </div>
         <div class="row">
             <div class="col-md-1">{% accept_button answer request.user %}</div>
             <div class="col-md-8"><div class="comments-container">{% comments answer request.user %}</div></div>
             <div class="col-md-3"><div class="answer-controls post-controls">{% post_controls answer request.user %}{% wiki_symbol request.user answer %}</div></div>
         </div>
    </div>
{% endfor %}
    <div class="row">
    <div class="paginator-container-left">{{ answers.paginator.page_numbers }}</div>
    </div>
{% endif %}

<div id="line-post-section">
    <div class="row">
        <form id="fmanswer" action="{% url answer question.id %}" method="post">
                {% csrf_token %}
                {% if not question.closed %}
            <div class="post-headline">
                {% if not request.user.is_authenticated %}Sign up or log in to post your own!{% endif %}
                {% if request.user.is_authenticated %}
                {% if answers %}
                Add a line{% else %}Be the first person to add a line{% endif %}
            </div>
            {% endif %}
        {% comment %}
        {% else %}
            <div class="alert alert-warning">
                {% ifequal request.user question.author  %}
                Are you adding a line to your own list? Make sure it's not a better to edit your description or add a comment.
                {% else %}
                Remember to post a line to the list, not add a comment.
                {% endifequal %}
                {% if not request.user.email_valid_and_can_answer %}
                Remember, you can't post until we've verified  your email.
                <a href="{% url send_validation_email %}">Send me a verification link again.</a>
                {% endif %}
            </div>
        {% endif %}
        {% endcomment %}

            {% if answer.text.errors %}
            <div class="alert alert-danger error">{{ answer.text.errors }}</div>
            {% endif %}
            {{ answer.text }}

    {% if answer.recaptcha %}
    <div class="recaptcha">{{ answer.recaptcha.errors }}{{ answer.recaptcha }}</div>
    {% endif %}

    <p></p>

    <input type="button" button type="button" class="btn btn-primary btn-lg"
    {% if user.is_anonymous %}
    value="Sign up or log in to add a line"
    {% else %}
    {% if user == question.author %}
    value="Add a line to your own list"
    {% else %}
    value="Add a line to this list"
    {% endif %}
    {% endif %}
    class="submit" onclick="submitClicked(event, this.form)"/>
   </form>
    {% endif %}
    </div>
</div>




{% endblock %}

<!-- end question.html -->


{% block rightbar %}

<div class="boxC">
    <h3 class="subtitle">Similar lists</h3>
    <div class="questions-related">
        {% for question in similar_questions %}
         <a href="{{ question.get_absolute_url }}"><!--{{ question.headline }}-->{% question_list_item question %}</a>
        {% endfor %}
    </div>
</div>

{% endblock%}

<!-- end question.html -->
