{% extends "base_question.html" %}
<!-- question.html -->


{% load question_list_tags %}
{% include "question_list/count.html" %}
{% if request.user.is_authenticated %}
{% tag_selector %}
{% endif %}
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load general_sidebar_tags %}
{% load smart_if %}
{% load humanize %}
{% load i18n %}
{% load cache %}
{% load ui_registry markup %}
{% block metadescription %}{{ question.meta_description }}{% endblock %}
{% block metakeywords %}{{question.tagname_meta_generator}}{% endblock %}
{% block meta %}
<link rel="canonical" href="{{settings.APP_BASE_URL}}{{question.get_absolute_url}}" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ question.get_absolute_url }}?type=rss">
{% endblock %}
{% block title %}{% spaceless %}{{ question.headline }}{% endspaceless %}{% endblock %}
{% block forejs %}
{% if not question.nis.closed %}
<script type='text/javascript' src='{% media  "/media/js/osqa.question.js" %}'></script>
<script type='text/javascript' src='{% media  "/media/js/jquery.caret.js" %}'></script>

<!--
<script type='text/javascript' src='{% media  "/media/js/wmd/showdown.js" %}'></script>
<script type='text/javascript' src='{% media  "/media/js/wmd/wmd.js" %}'></script>
<link rel="stylesheet" type="text/css" href="{% media  "/media/js/wmd/wmd.css" %}" />

-->

<script type='text/javascript' src='{% media  "/media/js/html_sanitizer.js" %}'></script>

{% if embed_youtube_videos %}
<script type='text/javascript' src='{% media  "/media/js/viewbox_min.js" %}'></script>
<script type='text/javascript' src='{% media  "/media/js/youtube.js" %}'></script>
<link rel="stylesheet" type="text/css" href="{% media  "/media/js/viewbox.css" %}" />
{% endif %}
{% endif %}

<script type="text/javascript">
    $().ready(function(){
        $("#nav_questions").attr('className',"on");
        var answer_sort_tab = "{{ tab_id }}";

        if (answer_sort_tab) {
            $("#" + answer_sort_tab).attr('className',"on");
        }

        $('#editor').TextAreaResizer();

        //toggle preview of editor
        var display = true;
        var txt = "[{% trans "hide preview" %}]";
        $('#pre-collapse').text(txt);
        $('#pre-collapse').bind('click', function(){
            txt = display ? "[{% trans "show preview" %}]" : "[{% trans "hide preview" %}]";
            display = !display;
            $('#previewer').toggle();
            $('#pre-collapse').text(txt);
        });
    });

    function submitClicked(e, f) {
        if(!(browserTester('chrome') || browserTester('safari'))) {
            $("input.submit")[0].disabled=true;
        }
        window.removeEventListener('beforeunload', beforeUnload, true);
        if (f) {
            f.submit();
        }
    }

    function beforeUnload(e) {

        if($("textarea#editor").tinymce().getContent() != "") {
            return yourWorkWillBeLost(e);
        }

        var commentBoxes = $("textarea.commentBox");
        for(var index = 0; index < commentBoxes.length; index++) {
            if(commentBoxes[index].value != "") {
                return yourWorkWillBeLost(e);
            }
        }
    }
    window.addEventListener('beforeunload', beforeUnload, true);
</script>
<noscript>
    <style>
        .comment.not_top_scorer {
            display: block;
        }
        .comment-form-container {
            display: block;
        }
        .div.comment-tools {
            display: none;
        }
    </style>
</noscript>
{% endblock %}


{% block sidebar %}
{% cache 60 questions_tags settings.APP_URL question.id %}
<div class="sidebar-section">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">
            {% for tag in question.tags.all %}
            <a href="{% url tag_questions tag.name|urlencode %}"
               class="tag-link-{{ tag.name }}" title="See more in'{{tag.name}}'"
               rel="tag">{{ tag.name }}</a>
            <span class="tag-number">&#215;{{ tag.used_count|intcomma }}</span>
                {% endfor %}</h3>
        </div>
        <div class="panel-body">
            {% favorite_mark question request.user %}
            Save this list

            {% include "subscription_status.html" %}
        </div>
    </div>
</div>
    {% endcache %}
{% endblock%}

{% block content %}
<div class="list-top">
    <div class="row">
        <div class="col-md-1"><div class="vote-buttons">{% vote_buttons question request.user %}</div></div>
        <div class="col-md-8"><h2><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></h2><div class="question-body">{{ question.html|safe }}{% post_classes question %}</div></div>
        <div class="col-md-3"><div class="post-update-info-container">{% contributors_info question %}<div class="post-controls">{% post_controls question request.user %}</div></div></div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-1"><div class="comments-container">{% comments question request.user %}</div></div>
    </div>
</div>

{% if answers %}
<div id="list-tabs">
    <div class="row">
        <div class="col-md-4"><span class="tabs-headline"><i class="fa fa-list-ul"></i> {{ answers.paginator.count }} {{counter}}</span></div>
        <div class="col-md-8"><div class="list-tabs">{{ answers.paginator.sort_tabs }}</div></div>
    </div>
</div>
<!--{{ answers.paginator.page_numbers }}-->

{% for answer in answers.paginator.page %}

<div id="answer-container-{{ answer.id }}" class="answer {% post_classes answer %}{% ifequal answer.id focused_answer_id %} focusedAnswer{% endifequal %}">
    <a name="{{ answer.id }}"></a>
    <div class="row">
        <div class="col-xs-11 col-md-7 col-md-offset-1">
            <div class="answer-body">
                {{ answer.html|safe }}
            </div>
        </div>
        <div class="col-xs-11 col-md-3">
            <div class="post-update-info">
                    {% contributors_info answer %}
                </div>
        </div>
        <div class="col-xs-1 col-md-1">
            <div class="vote-buttons">
                {% vote_buttons answer request.user %}
                {% accept_button answer request.user %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-1"><div class="comments-container">{% comments answer request.user %}</div></div>
        <div class="col-md-2">                <div class="post-controls">
            {% post_controls answer request.user %}
        </div></div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="paginator-container-left">{{ answers.paginator.page_numbers }}</div>
</div>
{% endif %}
<div class="row">
        <div class="col-md-8">
        <form id="fmanswer" action="{% url answer question.id %}" method="post">
            {% csrf_token %}
            {% if not question.closed %}
            <div class="post-headline">
                {% if not request.user.is_authenticated %}Sign up or log in to post your own!{% endif %}
                {% if request.user.is_authenticated %}
                {% if answers %}
                Add a line{% else %}Be the first person to add a line{% endif %}
            </div>
            {% endif %}
            {% comment %}
            {% else %}
            <div class="alert alert-warning">
                {% ifequal request.user question.author  %}
                Are you adding a line to your own list? Make sure it's not a better to edit your description or add a comment.
                {% else %}
                Remember to post a line to the list, not add a comment.
                {% endifequal %}
                {% if not request.user.email_valid_and_can_answer %}
                Remember, you can't post until we've verified  your email.
                <a href="{% url send_validation_email %}">Send me a verification link again.</a>
                {% endif %}
            </div>
            {% endif %}
            {% endcomment %}

            {% if answer.text.errors %}
            <div class="alert alert-danger error">{{ answer.text.errors }}</div>
            {% endif %}
            {{ answer.text }}

            {% if answer.recaptcha %}
            <div class="recaptcha">{{ answer.recaptcha.errors }}{{ answer.recaptcha }}</div>
            {% endif %}
            <p></p>
            <input type="button" class="btn btn-primary btn-lg"
            {% if user.is_anonymous %}
            value="Sign up or log in to add a line"
            {% else %}
            {% if user == question.author %}
            value="Add a line to your own list"
            {% else %}
            value="Add a line to this list"
            {% endif %}
            {% endif %}
            class="submit" onclick="submitClicked(event, this.form)"/>
        </form>
        {% endif %}
            </div>
   </div>
        <div class="col-md-4">
            <div class="new-author-info">
            {% if user.is_authenticated %}
                <a class="pull-left left-gravatar" href="{{ user.get_profile_url }}">
                    {% gravatar user 48 %}
                </a>
                <a class="pull left author-name" href="{{ user.get_profile_url }}">
                    {{ user.decorated_name }}{% get_score_badge user %}</a>
            {% endif %}
            </div>
        </div>
</div>
{% endblock %}



{% block rightbar %}
<!--{% markdown_help %}-->


    <div class="sidebar-section">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Similar Lists</h3></div>
            <div class="panel-body">
                <div class="questions-related">
                    {% for question in similar_questions %}
                    <a href="{{ question.answer.get_absolute_url }}"><!--{{ question.headline }}-->{% question_list_item question %}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">About this list</h3></div>
            <div class="panel-body">
                Started <strong title="{{ question.added_at }}">{% diff_date question.added_at %}</strong><br/>
                Seen <strong>{{ question.view_count|intcomma }}</strong> times<br/>
                Last updated <strong title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</strong><br/>
                <p class="tags">
                    {% for tag in question.tags.all %}
                    Posted under <a href="{% url tag_questions tag.name|urlencode %}"
                                    class="tag-link-{{ tag.name }}" title="See more in'{{tag.name}}'"
                                    rel="tag">{{ tag.name }}</a> <span class="tag-number">&#215;{{ tag.used_count|intcomma }}</span>
                    {% endfor %}
                    {% include "subscription_status.html" %}
            </div>
        </div>
    </div>
    {% endblock%}

    <!-- end question.html -->
