{% extends "base.html" %}
<!-- questions.html -->
{% load question_list_tags %}
{% load i18n %}
{% load extra_tags %}
{% load general_sidebar_tags %}
{% load ui_registry extra_filters markup %}

{% block meta %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}" />
<script type="text/javascript" src="media/js/osqa.main.js"></script>
<script type="text/javascript" src="media/js/bootstrap.js"></script>
{% endblock %}

<div id="sidebar" data-spy="affix" data-offset-top="235">

{% block sidebar %}
{% sidebar_upper %}
{% question_list_related_tags questions.paginator.page %}

{% tag_selector %}
{% include "question_list/count.html" %}

</div>
        {% endblock %}

<!--
{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}

{% block metadescription %}{% spaceless %}
{% if tag %}
{% blocktrans with settings.APP_TITLE as app_title %}Questions and answers about {{ tag }} on {{ app_title }}{% endblocktrans %}
{% endif %}
{% endspaceless %}{% endblock %}

</div>-->


{% block content %}

<!-- <div id="announcement">
    <!-- {% if settings.USE_ANNOUNCEMENT_BAR|or_preview:request %}
    <div id="announcement">
        {{ settings.ANNOUNCEMENT_BAR|or_preview:request|static_content:settings.ANNOUNCEMENT_BAR_RENDER_MODE }}
    </div>
    {% endif %}
</div> -->


<div class="tabBar">
    <div class="tabsa">
        {% include "question_list/title.html" %}
        <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');" href="{{ feed_url }}" title="{% trans "subscribe to question RSS feed" %}"></a>
    <ul class="nav nav-tabs">

        {{ questions.paginator.sort_tabs }}
    </ul>
    </div>
</div>

<div id="listA">{% for question in questions.paginator.page %}
    {% if show_summary %}
    {% question_list_item question question_summary=yes %}
    {% else %}
    {% question_list_item question %}
    {% endif %}
    {% endfor %}</div>
{% endblock %}

{% block tail %}
<div class="pager">{{ questions.paginator.page_numbers }}</div>
<div class="pagesize">{{ questions.paginator.page_sizes }}</div>
{% endblock %}
<!-- end questions.html -->
