{% spaceless %}
{% load i18n extra_tags %}

<h3 class="subtitle">Follow this list</h3>
<strong>By email</strong>
{% if request.user.is_authenticated %}
    <div class="subscription-status">
        {% if subscription %}
            {% if subscription.auto_subscription %}
                <p>You've been automatically subscribed to this list.</p>
            {% else %}
                <p>You're subscribed to this list.</p>
            {% endif %}
        {% else %}
            <p>You are not subscribed to this list.</p>
        {% endif %}
    </div>
    <p><a class="ajax-command sidebar_button subscription_switch" href="{% url subscribe_simple id=question.id %}">
        {% if subscription %}
            Unsubscribe
        {% else %}
            Subscribe
        {% endif %}
    </a></p>
    <p>
        {% blocktrans with request.user.get_user_subscriptions_url as subscriptions_url %}
            (you can adjust your notification settings on your <a href="{{ subscriptions_url }}">profile</a>)
        {% endblocktrans %}
    </p>
{% else %}
    <p>Once you're signed in you can subscribe for updates</p>
{% endif %}
<strong>By RSS</strong>
<p><a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');"
        href="{{ question.get_absolute_url }}?type=rss" title="Subscribe to posts"></a>posts</p>
<p>
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');"
        href="{{ question.get_absolute_url }}?type=rss&comments=yes" title="Subscribe to lists and posts"></a>Lists and posts
</p>
{% endspaceless %}
