{% load extra_tags i18n %}



    <div class="media">
        <a class="pull-left" href="{{ node.author.get_profile_url }}">
            <img class="media-object">{% gravatar node.author 48 %}
        </a>
        <div class="media-body">
            <h5 class="media-heading"><a href="{{ node.author.get_profile_url }}">{{ node.author.decorated_name }}</a></h5>
            <span class="score">{% get_score_badge node.author %}<br/></span>
        </div>
            <span class="date-edit">{% diff_date node.added_at %}</span><!-- benjyw -->
    </div>

        {% if node.last_edited %}
    <div class="post-update-info post-update-info-edited">

    <a href="{{ node.get_revisions_url }}">{{ node.last_edited.verb }} <span class="date-edit">{% diff_date node.last_edited.at %}</span></a>
        {% ifnotequal node.author node.last_edited.by %}

{% gravatar node.last_edited.by 48 %}
      <a {% if node.last_edited.by.is_suspended %}class="suspended-user" {% endif %}href="{{ node.last_edited.by.get_profile_url }}">{{ node.last_edited.by.decorated_name }}</a>
      {% get_score_badge node.last_edited.by %}<br/>
        </div>

    {% endifnotequal %}

{% endif %}
