{% spaceless %}
{% load i18n humanize extra_tags %}
{% declare %}
    answer_count = questions.children_count('answer')
{% enddeclare %}

<div class="boxC">
    <div class="questions-count">
        {{ questions.paginator.count }} topics</div>
    {% if answer_count %}
    <div class="questions-count">
        {{ answer_count }} posts</div>

    {% endif %}

    <!--<div>
        <p class="nomargin">
            {{ questions.paginator.sort_description }}
        </p>
    </div> -->
</div>
{% endspaceless %}