{% load i18n humanize extra_filters extra_tags user_tags %}

    <div class="short-summary">
        <a class="biglink" href="{{ question.get_absolute_url }}"></a>
        <div class="data-row row">
            <div class="list-data">
                <span class="lines-data">
                    {% ifequal question.answer_count 1 %}<i class="fa fa-list-ul"></i>{% else %}<i class="fa fa-list-ul"></i>{% endifequal %}
                    <span class="item-count">{{question.answer_count|intcomma}}</span>
                </span>
                <span class="votes-data">
                    <span class="item-count"><i class="fa fa-caret-up fa-lg"></i> {{question.score|intcomma}}</span>
                </span>
                <!--<div class="item-count">{{question.view_count|decorated_int|safe}}</div>
            {% ifequal question.view_count 1 %}view{% else %}views{% endifequal %}-->
            </div>
            <span class="submowt-data">
                {% for tag in question.tags.all %}
                <a href="{% url tag_questions tag.name|urlencode %}"
                     class="tag-link-{{ tag.name }}" title="See more in'{{tag.name}}'"
                     rel="tag">{{ tag.name }}</a>
                        {% endfor %}
            </span>
        </div>
        <div class="list-title row">
            <a class="pull-left left-gravatar" href="{{ question.author.get_profile_url }}">{% gravatar question.author 36 %}</a>
            <div class="list-title-headline"><h3>{{question.headline}}</h3></div>
        </div>
        <div class="line-content row">
            {% if sample_answer %}
                <a class="pull-left left-gravatar" href="{{ sample_answer.author.get_profile_url }}">{% gravatar sample_answer.author 36 %}</a>
                <span class="sample-answer">{{sample_answer.html|safe}}</span>
            {% else %}
            <div class="line-empty">
                <a href="{{ question.get_absolute_url }}">posted {% diff_date question.last_activity_at %}, be first!</a>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="line-data">
                {% if sample_answer %}
                &mdash;<span class="item-author"><a href="{{ sample_answer.author.get_profile_url }}">{{ sample_answer.author.decorated_name }}</a></span>
                    <span class="line-timestamp"><a href="{{ sample_answer.get_absolute_url }}">{% diff_date question.last_activity_at %}</a></span>
                {% endif %}
            </div>
        </div>
    </div>