{% load i18n %}

        <!--
<div class="tabsA">
    <ul class="nav nav-tabs">
    <li><a id="active" href="{{ base_url }}active"{% ifequal current "active" %} class="on"{% endifequal %} title="Most recently active topics">active</a></li>
        <li> <a id="latest" href="{{ base_url }}latest"{% ifequal current "latest" %} class="on"{% endifequal %} title="Most recently created topics">newest</a></li>
        <li><a id="hottest" href="{{ base_url }}hottest"{% ifequal current "hottest" %} class="on"{% endifequal %} title="Most active topics">hottest</a></li>
        <li><a id="mostvoted" href="{{ base_url }}mostvoted"{% ifequal current "mostvoted" %} class="on"{% endifequal %} title="Most voted topics">most kjhkjhkjhvoted</a></li>
    </ul>
</div> -->
