

{% if show_interesting_tags %}
{% if user_authenticated %}
{% load i18n extra_tags %}
{% declare %}
    show_tags_in_a_cloud = settings.SHOW_TAGS_IN_A_CLOUD
{% enddeclare %}


<!--@mm - moved recent_tags markup here-->


 Recent Tags

<div class="tags" id="recent-tags">
{% for tag in tags %}
<a rel="tag"{% if show_tags_in_a_cloud %} style="font-size: {% get_tag_font_size tag %}px;"{% endif %} class="tag-link-{{ tag.name }}" title="{% blocktrans with tag.name as tagname %}see questions tagged '{{tagname}}'{% endblocktrans %}" href="{% url tag_questions tag.name|urlencode %}">{{ tag.name }}</a>
{% endfor %}
</div>

Interesting Tags

<div class="boxC">
<h3>Interesting Tags</h3>
<div class="tags interesting marked-tags">
{% for tag_name in interesting_tag_names %}
 {% spaceless %}
 <span class="deletable-tag" id="interesting-tag-{{tag_name}}">
     <a rel="tag"
         class="tag-link-{{ tag_name }}"
         title="{% blocktrans with tag as tagname %}see questions tagged '{{ tag_name }}'{% endblocktrans %}"
         href="{% url tag_questions tag_name|urlencode %}">{{tag_name}}</a>
     <img class="delete-icon"
         src="{% media  "/media/images/close-small-dark.png" %}"
         title="{% blocktrans %}remove '{{tag_name}}' from the list of interesting tags{% endblocktrans %}"/>
 </span>
 {% endspaceless %}
{% endfor %}
</div>
<div>
   <input id="interestingTagInput" autocomplete="off" type="text"/>
    <input id="interestingTagAdd" type="submit" value="{% trans "Add" %}"/>
  </div>
<h3 class="subtitle">Ignored</h3>
<div class="tags ignored marked-tags">
{% for tag_name in ignored_tag_names %}
 {% spaceless %}
 <span class="deletable-tag" id="ignored-tag-{{tag_name}}">
     <a rel="tag"
         class="tag-link-{{ tag_name }}"
         title="{% blocktrans with tag as tagname %}see questions tagged '{{ tag_name }}'{% endblocktrans %}"
         href="{% url tag_questions tag_name|urlencode %}">{{tag_name}}</a>
     <img class="delete-icon"
         src="{% media  "/media/images/close-small-dark.png" %}"
         title="{% blocktrans %}remove '{{tag_name}}' from the list of ignored tags{% endblocktrans %}"/>
 </span>
 {% endspaceless %}
{% endfor %}
</div>
<div>
   <input id="ignoredTagInput" autocomplete="off" type="text"/>
   <input id="ignoredTagAdd" type="submit" value="{% trans "Add" %}"/>
  </div>
{% comment %}
<p id="hideIgnoredTagsControl">
<input id="hideIgnoredTagsCb" type="checkbox" {% if request.user.hide_ignored_questions %}checked="checked"{% endif %} />
<label id="hideIgnoredTagsLabel" for="hideIgnoredTagsCb">{% trans "keep ignored questions hidden" %}</label>
<p>
{% endcomment %}
</div>
{% endif %}
{% endif %}

