<!-- user_info.html -->
{% load extra_tags %}
{% load humanize %}
{% load smart_if %}
{% load markup %}
{% load user_tags %}
{% load extra_filters ui_registry i18n %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="row clearfix">
                <div class="col-md-7">
            <div id="user-main">
                    <div class="media">
                        <a href="#" class="pull-left">{% gravatar view_user 140 %}</a>
                        <div class="media-body">
                         <h4 class="media-heading">
                        {% if not view_user.is_suspended %}
                        {% if view_user.real_name %}
                        {{view_user.real_name}}
                        {% else %}
                        {{view_user.decorated_name}}
                        {% endif %}
                        {% if view_user.is_suspended %}This user has been suspended.{% endif %}
                        {% if view_user.is_superuser %}Administrator
                        {% else %}
                        {% if view_user.is_staff %}Moderator
                        {% endif %}
                        {% endif %}
                         <div class="scoreNumber" id="user-reputation">{{view_user.reputation|intcomma}}
                             {% else %}Suspended{{ view_user.suspension.extra.publicmsg }}</div>
                              {% endif %}
                          </h4>
                        <div class="user-about">
                         {% if not view_user.is_suspended %}
                         {% if view_user.about %}
                         {{view_user.about|markdown}}
                         {% endif %}
                         {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-5 column">
                    <div id="user-main">
                    <dl class="dl-horizontal">
                        {% if view_user.location %}
                        <dt><span class="glyphicon glyphicon-map-marker"> Location</span></dt>
                        <dd>{{view_user.location}}</dd>
                        {% endif %}
                        {% if view_user.website %}
                        <dt><span class="glyphicon glyphicon-globe"> Website</span></dt>
                        <dd><a rel="nofollow" target="_blank" href="{{view_user.website}}">{{view_user.website}}</a></dd>
                        {% endif %}
                        <dt><span class="glyphicon glyphicon-user"> Joined</span></dt>
                        <dd>{% diff_date view_user.date_joined %}</dd>
                        <!--{% if view_user.last_seen %}
                        <dt>Last seen</dt>
                        <dd><title="{{ view_user.last_activity }}">{% diff_date view_user.last_activity %}</dd>
                        {% endif %}-->
                    </dl>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
{% with view_user.username|slugify as user_slug %}
<div class="row clearfix">
    <div class="col-md-12 column">
            <div class="tabsA">
                {% if can_view_private %}{% user_menu request.user view_user %}{% endif %}
                {% loopregistry profile_tabs %}
                <a title="{{ tab_description }}" id="{{ tab_name }}" {% ifequal active_tab tab_name %}class="on"{% endifequal %} href="{{ tab_url }}">
                {{ tab_title }}</a>
                {% endloopregistry %}
            </div>
    </div>
</div>
{% endwith %}
