{% extends "user.html" %}

{% load extra_tags question_list_tags i18n %}


{% block usercontent %}
<div class="stat-header">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h4>{% blocktrans count favorites.paginator.count as counter %}
                <span class="count">{{counter}}</span> Saved List{% plural %}
                <span class="count">{{counter}}</span> Saved Lists{% endblocktrans %}
            </h4>
        </div>
        <div class="col-md-6 column">
            <div class="tabsB">{{ favorite.node.paginator.sort_tabs }}</div>
        </div>
    </div>
</div>
        <div class="row js-masonry">
            {% for favorite in favorites %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% question_list_item favorite.node %}
            </div>
            {% endfor %}
        </div>

{% endblock %}

