{% extends "user.html" %}
<!-- user_stats.html -->
{% load i18n %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load question_list_tags %}


{% block usercontent %}
<div class="user-stats">

<div class="row clearfix">
    <div id="profile-tags">
            <h4>{% blocktrans count user_tags|length as counter %}
                <span class="count">{{counter}}</span> Category{% plural %}
                <span class="count">{{counter}}</span> Categories{% endblocktrans %}</h4>
    </div>
<div class="row clearfix">
    {% for tag in user_tags %}
    <div class="col-md-2 column">
        <a name="tags"></a>
        <a rel="tag" class="tag-link-{{ tag.name }}"
           title="{% blocktrans with tag.name as tag_name %}see other questions with {{view_user}}'s contributions tagged '{{ tag_name }}' {% endblocktrans %}"
           href="{% url tag_questions tag|urlencode %}?user={{view_user.username}}">{{tag.name}}</a>
        <span class="tag-number">&#215; {{ tag.user_tag_usage_count|intcomma }}</span><br/>
    </div>
    {% if forloop.counter|divisibleby:"6" %}
    {% endif %}
    {% endfor %}
</div>
    <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="stat-header">
                    <div class="row">
                            <a name="questions"></a>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                    {% blocktrans count questions.paginator.count as counter %}
                                    <span class="count">{{counter}}</span> List{% plural %}
                                    <span class="count">{{counter}}</span> Lists{% endblocktrans %}
                            </div>
                                <div class="profile-tabs">{{ questions.paginator.sort_tabs }}</div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                            {% if questions %}
                            {% for question in questions.paginator.page %}
                                {% question_list_item question %}
                                {% endfor %}
                            {% else %}Sorry, no lists yet.
                            {% endif %}
                                <div class="pager">{{ questions.paginator.page_numbers }}</div>
                </div>
            </div>

            <div class="col-md-4 column">
                            <div class="stat-header">
                                <div class="row clearfix">
                                        <a name="answers"></a>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {% blocktrans count answers.paginator.count as counter %}
                                            <span class="count">{{counter}}</span> Lines{% plural %}
                                            <span class="count">{{counter}}</span> Lines{% endblocktrans %}</h4>
                                        </div>
                                    <div class="profile-tabs">{{ answers.paginator.sort_tabs }}</div>
                                    </div>
                                </div>
                            </div>
                <div class="row clearfix">
                         {% if answers %}
                        {% for answer in answers.paginator.page %}
                        <div class="short-summary">
                            <a class="biglink" href="{{ answer.get_absolute_url }}"></a>
                            <div id="list-row2" class="row">
                                    <div class="media">
                                        <a class="pull-right" href="{{ answer.question.author.get_profile_url }}">{% gravatar answer.question.author 30 %}
                                        </a>
                                      <span class="headline"><h5><a href="{{ answer.question.get_absolute_url }}">{{ answer.question.headline }}</h5></a>
                                      </span>
                                    </div>
                            </div>
                            <div id="list-row1">
                                <div class="col-md-12">
                                    <div class="counts">
                                        <div class="item-count">{{answer.score|intcomma}}
                                            {% ifequal answer.score 1 %}vote{% else %}votes{% endifequal %}
                                             <span class="{% if answer.nis.accepted %}answered-accepted {% endif %} answer-votes"
                                                   title="{% blocktrans with answer.score as vote_count %}the answer has been voted for {{ vote_count }} times{% endblocktrans %} {% if answer.nis.accepted %}{% trans "this answer has been selected as correct" %}{%endif%}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="list-row3" class="row">
                                    <div class="media">
                                        <img class="media-object"><a href="{{ answer.author.get_profile_url }}" class="pull-right">{% gravatar answer.author 48 %}</a>
                                        <div class="media-body">
                                            <span class="profile-p"><a href="{{ answer.get_absolute_url }}">{{ answer.html|safe }}</a></span>
                                        </div>
                                    </div>
                            </div>
                            <div id="list-row4" class="row">
                                        <div class="top-poster">
                                            <span class="posted">&mdash;<a href="{{ answer.author.get_profile_url }}">
                                                {{ answer.author.decorated_name }}</a></span>
                                                <span class="posted-date"><a href="{{ answer.get_absolute_url }}"> {% diff_date answer.added_at %}</a></span>
                                        </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}Sorry, no lines yet.
                        {% endif %}
                        <div class="pager">{{ answers.paginator.page_numbers }}</div>
                </div>
            </div>

        <div class="col-md-4 column">
            <div class="stat-header">
                <div class="row clearfix">
                    <a name="answers"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% blocktrans count answers.paginator.count as counter %}
                            <span class="count">{{counter}}</span> Vote {% plural %}
                            <span class="count">{{counter}}</span> Voted lists & lines{% endblocktrans %}
                            {% blocktrans count total_votes as cnt %}
                            <span class="count">{{cnt}}</span> Vote
                            {% plural %}
                            <span class="count">{{cnt}}</span> Votes
                            {% endblocktrans %}
                        </div>
                        <div class="profile-tabs">
                            <a name="votes"></a>
                             <span title="{% trans "user has voted up this many times" %}" class="vote-count">{{up_votes}} upvotes</span>
                             <span title="{% trans "user voted down this many times" %}" class="vote-count">{{down_votes}} downvotes</span>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="row">
                       {% if votes %}
                       {% for vote in votes %}
                       <div class="short-summary">
                           <div id="list-row1">
                               <div class="col-md-12">
                                   <div class="counts">
                                       {% ifequal vote.value 1 %}
                                       <img src="{% media  "/media/images/vote-arrow-up-on.png" %}" title="{% trans "upvote" %}">Upvoted
                                       {% else %}
                                       <img src="{% media  "/media/images/vote-arrow-down-on.png" %}" title="{% trans "downvote" %}">Downvoted
                                       {% endifequal %}
                                       <div class="item-count">on {% diff_date vote.voted_at 3 %}</div>

                                       <span class="posted-date"><a href="{{ vote.node.get_absolute_url }}">{{ vote.node.score }} votes total</a></span>

                                   </div>
                               </div>
                           </div>
                           <div id="list-row2" class="row">
                               <div class="media">
                                   <a class="pull-right" href="{{ answer.vote.node.author.get_profile_url }}">
                                   </a>
                                    <span class="headline"><span class="{{ vote.node.node_type }}-title-link"><a href="{{ vote.node.get_absolute_url }}">
                                        {{ vote.node.headline }}</a></span>
                                    </span>
                               </div>
                           </div>
                           <div id="list-row3" class="row">
                               <div class="media">
                                   <img class="media-object"><a href="{{ vote.node.author.get_profile_url }}" class="pull-right">{% gravatar vote.node.author 48 %}</a>
                                   <div class="media-body">
                                            <span class="profile-p"><a href="{{ vote.node.get_absolute_url }}">
                                                {{ vote.node.html|safe }}</a></span>
                                   </div>
                               </div>
                           </div>
                           <div id="list-row4" class="row">
                               <div class="top-poster">
                                    <span class="posted">&mdash;<a href="{{ vote.node.author.get_profile_url }}">
                                        {{ vote.node.author.decorated_name }}</a></span>
                               </div>
                           </div>
                       </div>
                       {% endfor %}
                       {% else %}Sorry, no votes yet.
                       {% endif %}
                 </div>
                       <div class="pager">{{ votes.paginator.page_numbers }}</div>
               </div>
        </div>
    </div>
</div>

{% endblock %}
