{% extends "base_container.html" %}
<!-- users.html -->
{% load markup %}
{% load user_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load smart_if %}
{% load i18n %}
{% load markup %}
{% load ui_registry markup %}

{% load ui_registry extra_filters markup %}

{% load node_tags %}
{% block title %}Users{% endblock %}
{% block forejs %}
<script type="text/javascript">
    //todo move javascript out
    $().ready(function(){
        $("#type-user").attr('checked',true);
        var orderby = "{{ tab_id }}";
        $("#sort_" + orderby).attr('className',"on");

        Hilite.exact = false;
        Hilite.elementid = "main-body";
        Hilite.debug_referrer = location.href;
    });
</script>
{% endblock %}


{% block sidebar %}

<a class="btn btn-primary btn-lg btn-block" href="{% url ask %}" role="button">Start a list &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil"></span></a>

{% endblock %}


{% block content %}
<div class="tabBar">
    <div class="headUsers">Users</div>
    <div class="tabsA">{{ users.paginator.sort_tabs }}</div>
</div>
<div id="main-body">
    <p>
        {% if suser %}
        {% blocktrans %}users matching query {{suser}}:{% endblocktrans %}
        {% endif %}

        {% if not users.paginator.count %}
        <span>{% trans "Nothing found." %}</span>
        {% endif %}
    </p>
    <div class="userList">
        {% for user in users.paginator.page %}
        <div class="user">
            <ul>
                <li class="thumb"><a href="{{ user.get_profile_url }} ">{% gravatar user 60 %}</a></li>
                <li><a {% if user.is_suspended %}class="suspended-user" {% endif %}href="{{ user.get_profile_url }}">{{ user.decorated_name }}</a></li>
                <li>{% get_score_badge user %}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block tail %}
<div class="pager">{{ users.paginator.page_numbers }}</div>

{% endblock %}

{% block rightbar %}
{% if wrap %}<div id="{{ blockid }}">{% endif %}

    <div id="sidebar-profile">
        {% if view_user and not view_user.is_anonymous %}
       <a href="{{ view_user.get_profile_url }}"></a>
           {{ view_user.decorated_name }}</a>
        {% gravatar view_user 80 %}
        {% if not view_user.is_suspended %}<br/>
                 {{view_user.reputation|intcomma}}
                 {% ifequal view_user.reputation 1 %} vote {% else %} votes {% endifequal %}
                 {% else %} suspended {{ view_user.suspension.extra.publicmsg }
    </div>
    {% endif %}
</div>
{% endif %}

{% endblock%}
<!-- end users.html -->
