{% extends "base.html" %}
<!-- users.html -->
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Users" %}{% endspaceless %}{% endblock %}
{% block forejs %}
<script type="text/javascript">
    //todo move javascript out
    $().ready(function(){
        $("#type-user").attr('checked',true);
        var orderby = "{{ tab_id }}";
        $("#sort_" + orderby).attr('className',"on");

        Hilite.exact = false;
        Hilite.elementid = "main-body";
        Hilite.debug_referrer = location.href;
    });
</script>
{% endblock %}
{% block sidebar %}
<div class="row clearfix">
    <a href="#" class="btn btn-block btn-lg btn-default" type="button">Button</a><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
    <a id="modal-582288" href="#modal-container-582288" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

    <div class="modal fade" id="modal-container-582288" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        Modal title
                    </h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="panel-480263">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-480263" href="#panel-element-829436">Collapsible Group Item #1</a>
            </div>
            <div id="panel-element-829436" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-480263" href="#panel-element-162052">Collapsible Group Item #2</a>
            </div>
            <div id="panel-element-162052" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item active">Home</a>
        <div class="list-group-item">
            List header
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                List group item heading
            </h4>
            <p class="list-group-item-text">
                ...
            </p>
        </div>
        <div class="list-group-item">
            <span class="badge">14</span>Help
        </div> <a class="list-group-item active"><span class="badge">14</span>Help</a>
    </div>
</div>
{% endblock%}



{% block content %}
<div class="tabBar">
    <div class="headUsers">{% trans "Users" %}</div>
    <div class="tabsA">
    {{ users.paginator.sort_tabs }}
        </div>
</div>
<div id="main-body" style="width:100%">
    <p>
        {% if suser %}
        {% blocktrans %}users matching query {{suser}}:{% endblocktrans %}
        {% endif %}

        {% if not users.paginator.count %}
        <span>{% trans "Nothing found." %}</span>
        {% endif %}
    </p>
    <div class="userList">
        {% for user in users.paginator.page %}
        <div class="user">
            <ul>
                <li class="thumb"><a href="{{ user.get_profile_url }} ">{% gravatar user 32 %}</a></li>
                <li><a {% if user.is_suspended %}class="suspended-user" {% endif %}href="{{ user.get_profile_url }}">{{ user.decorated_name }}</a></li>
                <li>{% get_score_badge user %}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block tail %}
<div class="pager">
    {{ users.paginator.page_numbers }}
</div>
        </div>
</div>
{% endblock %}

{% block rightbar %}
<div class="boxC">
    <div class="row clearfix">
        <a href="#" class="btn btn-block btn-lg btn-default" type="button">Button</a><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
        <a href="#" class="btn btn-block btn-lg btn-default" type="button">Button</a><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
        <a href="#" class="btn btn-block btn-lg btn-default" type="button">Button</a><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-thumbnail" />

        <a id="modal-582288" href="#modal-container-582288" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

        <div class="modal fade" id="modal-container-582288" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            Modal title
                        </h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="panel-480263">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-480263" href="#panel-element-829436">Collapsible Group Item #1</a>
                </div>
                <div id="panel-element-829436" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-480263" href="#panel-element-162052">Collapsible Group Item #2</a>
                </div>
                <div id="panel-element-162052" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">Home</a>
            <div class="list-group-item">
                List header
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    List group item heading
                </h4>
                <p class="list-group-item-text">
                    ...
                </p>
            </div>
            <div class="list-group-item">
                <span class="badge">14</span>Help
            </div> <a class="list-group-item active"><span class="badge">14</span>Help</a>
        </div>
    </div><!--sidebar column-->
</div>
{% endblock%}
<!-- end users.html -->
