{% extends "user.html" %}
<!-- user_votes.html -->
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load i18n %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--<script src="<?=base_url('assets/js/bootstrap.min.js')?>"></script>-->
<script src="<?=base_url('masonry/masonry.min.js')?>"></script>

<script type="text/javascript">

    var msnry = $container.data('masonry');

    var container = $('#container');
    container.imagesLoaded( function(){
        container.masonry({
            itemSelector : '.short-summary'
        });
    });

</script>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#container').masonry({
            columnWidth: 200,
            itemSelector: '.short-summary'
        });
    });
</script>

<!--
<div style="padding-top:5px;font-size:13px;">
{% if votes %}
{% for vote in votes %}
<div style="clear:both;line-height:20px" >
<div style="width:150px;float:left">{% diff_date vote.voted_at 3 %}</div>
<div style="width:30px;float:left">
    {% ifequal vote.value 1 %}
    <img src="{% media  "/media/images/vote-arrow-up-on.png" %}" title="{% trans "upvote" %}">
    {% else %}
    <img src="{% media  "/media/images/vote-arrow-down-on.png" %}" title="{% trans "downvote" %}">
    {% endifequal %}
</div>
    {% gravatar vote.node.author 48 %}
    <span class="{{ vote.node.node_type }}-title-link"><a href="{{ vote.node.get_absolute_url }}">{{ vote.node.headline }}</a></span>
</div>
{% endfor %}
{% else %}Sorry, no votes yet.
{% endif %}
</div>
end user_votes.html -->

{% block usercontent %}
    <div class="stat-header">
        <div class="row">
            <h4>{% blocktrans count vote.node.paginator.count as counter %}
                    <span class="count">{{counter}}</span> Vote{% plural %}
                    <span class="count">{{counter}}</span> Votes{% endblocktrans %}
            </h4>
            <div class="tabsB">{{ vote.node.paginator.sort_tabs }}</div>
        </div>
    </div>
    <div class="row clearfix js-masonry">
        {% for vote in votes %}
        <div class="col-md-4">
                <div class="short-summary">
                    <div class="data-row row">
                        <div class="counts">
                            {% ifequal vote.value 1 %}
                            <img src="{% media  "/media/images/vote-arrow-up-on.png" %}" title="{% trans "upvote" %}">Upvoted
                            {% else %}
                            <img src="{% media  "/media/images/vote-arrow-down-on.png" %}" title="{% trans "downvote" %}">Downvoted
                            {% endifequal %}
                            <div class="item-count">on {% diff_date vote.voted_at 3 %}</div>
                            <span class="posted-date"><a href="{{ vote.node.get_absolute_url }}">{{ vote.node.score }} votes total</a></span>
                        </div>
                    </div>
                    <div class="list-title row">
                        <a class="pull-left left-gravatar" href="{{ vote.node.author.get_profile_url }}">{% gravatar vote.node.author 36 %}</a>
                        <div class="list-title-headline"><span class="{{ vote.node.node_type }}-title-link"><a href="{{ vote.node.get_absolute_url }}">
                            {{ vote.node.headline }}</a></span>
                        </div>
                    </div>
                    <div class="line-content row">
                        <a class="pull-left left-gravatar" href="{{ vote.node.author.get_profile_url }}">{% gravatar vote.node.author 48 %}</a>
                        <a class="sample-answer" href="{{ vote.node.get_absolute_url }}">
                                                {{ vote.node.html|safe }}</a>
                    </div>
                    <div class="line-data row">
                        <span class="posted">&mdash;<a href="{{ vote.node.author.get_profile_url }}">
                         {{ vote.node.author.decorated_name }}</a></span>
                        &mdash;<span class="item-author"><a href="{{ vote.node.author.get_profile_url }}">{{ vote.node.author.decorated_name }}</a></span>
                        <span class="line-timestamp"><a href="{{ vote.node.get_absolute_url }}">{% diff_date vote.node.last_activity_at %}</a></span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    <div class="pager">{{ votes.paginator.page_numbers }}
        </div>
{% endblock %}

<!-- end user_votes.html -->
