@import "jquery.autocomplete.css";




body {
    color: #222;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, helvetica, arial, sans-serif;
}

div {
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
    border: medium none;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, helvetica, arial, sans-serif;
}

label {
    vertical-align: middle;
}

hr {
    border-color: #CCCCCE -moz-use-text-color -moz-use-text-color;
    border-right: medium none;
    border-style: dashed none none;
    border-width: 1px medium medium;
}

input, select {
    vertical-align: middle;
}

p {
    font-size: 13px;
    line-height: 140%;
    margin-bottom: 13px;
    font-family: Helvetica Neue, helvetica, arial, sans-serif;
}

a {
    color: #345260;
    text-decoration: none;
}

.badges a {
    color: #763333;
    text-decoration: underline;
}

a:hover {
    text-decoration: none; color: #000099;
}

.block {
    height: auto;
    width: 960px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.tleft {
    text-align: left;
}

.tcenter {
    text-align: center;
}

.tright {
    text-align: right;
}

.dis {
    display: block;
}

.inline {
    display: inline;
}

.none {
    display: none;
}

.red {
    color: #CC0000;
}

.b {
    font-weight: bold;
}

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.white {
    color: #FFFFFF;
}

.u {
    text-decoration: underline;
}

.spacer1 {
    clear: both;
    height: 6px;
    line-height: 6px;
    visibility: hidden;
}

.spacer3 {
    clear: both;
    height: 30px;
    line-height: 30px;
    visibility: hidden;
}

h1 {
    font-size: 160%;
    line-height: 160%;
    padding: 5px 0;
}

h2 {
    font-size: 140%;
    padding: 3px 0;
    line-height: 140%;
}

h3 {
    font-size: 120%;
    padding: 3px 0;
    line-height: 120%;
}

ul {
    list-style: disc outside none;
    margin-bottom: 1em;
    margin-left: 20px;
    padding-left: 0;
}

ol {
    list-style: decimal outside none;
    margin-bottom: 1em;
    margin-left: 30px;
    padding-left: 0;
}

td ul {
    vertical-align: middle;
}

li input {
    margin: 3px 3px 4px;
}

pre {
    background-color: #F5F5F5;
    font-family: Consolas, Monaco, Liberation Mono, Lucida Console, Monospace;
    font-size: 100%;
    margin-bottom: 10px;
    overflow: auto;
    padding-left: 5px;
    padding-top: 5px;
    width: 580px;
}

code {
    font-family: Consolas, Monaco, Liberation Mono, Lucida Console, Monospace;
    font-size: 100%;
}

blockquote {
    background-color: #F5F5F5;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 10px 0 1px 10px;
}

#wrapper {
    margin: auto;
    padding: 0;
    max-width: 1100px;
}

#roof { margin: 20px auto; width: 1100px;
  /*  background: none repeat scroll 0 0;
    margin-top: 0;
    position: relative;  */
}

#room {
max-width:100%; padding: 20px 0px 0px;
}

#CALeft { float: left; position: relative; width: 76%; }

#CARight { float: right; width:22%; border: 1px solid #e8e8e8; }


#CAFull { float: left; padding: 0 5px; width:98%; }

#ground {
    background: none repeat scroll 0 0 #EFEFEF;
    border-top: 1px solid #CCCCCC;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
}

#top {
    width: 100%;
    text-align: right;
    margin: 0 auto;
    /* position: absolute; 
    right: 0;
    top: 0; */
}

#top #header-links { max-width: 1100px; margin: 0 auto; }
#header-links { padding: 5px 20px; text-align: right; }

#top a:hover, #header-links a:hover { color: red; text-decoration: underline; }

#top a, #header-links a { color: #888; font-size: 12px; margin-left: 20px; text-align: right; text-decoration: none; }



#logo {
    float:left; width: 22%;
}

#navBar {
    display: block;
    position: relative;
    width: 990px;
}

#navBar .nav {
    margin: 20px 0 0 16px;
}

#navBar .nav a {
    background-color: #E5EBF8;
    border-color: #888888 #888888 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #333333;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    height: 25px;
    line-height: 30px;
    margin-left: 10px;
    padding: 0 12px 3px;
    text-decoration: none;
}

#navBar .nav a:hover, #nav a:hover, #nav a.on {
    background: none repeat scroll 0 0 #FF0000; color: #FFFFFF;
font-weight: 500;
    padding: 5px 12px 7px;
height: 24px;
line-height: 28px;
text-decoration: none; }

#nav a, #nav_ask { margin-right: 10px; height: 24px;
    line-height: 28px;
    padding: 5px 12px 7px;
    font-size:18px; font-weight:500;
    color: #FFF;  background-color: #345260; }

#nav_ask { float: right; }

#navBar .nav a.special {
    color: #B02B2C;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#nav { width: 72%; float:right; margin-top: 6px; }
#nav_unanswered { display:none; }


#navBar .nav a.special:hover {
    text-decoration: underline;
}

#navBar .nav div.focus {
    float: right;
    padding-right: 0;
}

/*#searchBar {
    background-color: #B6C4E2;
    border-color: #EEEEEC #A9ACA5 #BABDB6 #EEEEEC;
    border-style: solid;
    border-width: 1px;
    padding: 4px 0 0;

}

#searchBar .content {
}

#searchBar .searchInput {
    font-size: 13px;
    height: 18px;
    width: 400px;
}

#searchBar .searchBtn {
    font-size: 14px;
    height: 26px;
    width: 80px;
}

#searchBar .options {
    color: #333333;
    font-size: 120%;
    padding: 3px 0;
}

#searchBar .options input {
    margin: 0 3px 0 15px;
}

#searchBar .options input:hover {
    cursor: pointer;
}*/

/*
#listA {
    background-color: #FFFFFF;
    float: left;
    padding: 0 0;
    width: 100%;
}

#listA .qstA {
    border-top: 1px dashed #CCCCCE;
    padding: 3px 5px 5px 10px;
    position: relative;
}

#listA .qstA thumb {
    float: left;
}

#listA .qstA h2 {
    font-size: 14px;
    font-weight: 800;
    margin: 8px auto;
    padding: 0;
}

#listA .qstA h2 a {
    font-size: 15px;
}

#listA .qstA .stat {
    bottom: 5px;
    float: right;
    font-size: 12px;
    position: absolute;
    right: 0;
}

#listA .qstA .stat span {
    margin-right: 5px;
}

#listA .qstA .stat td {
    min-width: 40px;
    text-align: center;
}

#listA .qstA .stat .num {
    color: #A40000;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 800;
    margin: 0;
}

#listA .qstA table {
    border-spacing: 0;
}

#listA .qstA table td {
    padding: 0;
    text-align: center;
    width: 60px;
}

#listA .qstA .stat .unit {
    color: #777777;
    margin: 0;
}

#listA .qstA .from {
    color: #777777;
    font-size: 13px;
    margin-top: 5px;
}

#listA .qstA .from .score {
    color: #555555;
    font-family: sans-serif;
}

#listA .qstA .date {
    color: #777777;
    margin-left: 10px;
}

#listA .qstA .wiki {
    color: #763333;
    font-size: 12px;
}

#listA .qstA .from a {
}

#listA .qstA .from img {
    vertical-align: middle;
}

#listA .qstA .author {
    font-weight: 400;
}

#listA .qstA .author a {
    color: #444444;
}

#listA .qstA .summary {
    margin-right: 5px;
}

*/

/*______ ITEM - FRONT PAGE ________*/
.short-summary .votes, .short-summary .posts, .short-summary .views { font-weight:normal; font-size: 14px; border: none; width:70px; clear: both; margin:0px; padding: 0px; color: #767676;}
.counts, .short-summary .counts .item-count { font-size: 14px; font-weight: bold; color: #767676; }


.top-post p {font-size:15px; color: #444; }
.posted, .posted a { font-size: 14px; color: #666; font-weight:bold; }
.posted a:hover {text-decoration:underline; color:#0000ff; }
.posted-date a, .empty-topic, .score, .badgecount { font-size: 14px; color: #767676; }

.top-poster, .empty-topic { float:right; display: inline-block; }
.top-post-content { float: left; width: 100%; padding-top:10px; }

.topthumb { float:left; margin-right: 18px; }



/* .short-summary .userinfo {
    color: #666666;
    float: right;
    margin-top: 8px;
}

.userinfo a, a.userinfo {
    color: #3060A8;
}

.short-summary .counts {
    float: left;
    margin-right: 0px;
    margin-top: 4px;
    padding-right: 2px;
}

.short-summary .counts .item-count {
    font-size: 17px;
    font-weight: bold;
}

.short-summary .votes, .short-summary .status, .short-summary .views {
    -moz-border-radius: 5px 5px 5px 5px;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: left;
    font-size: 11px;
    height: 42px;
    margin: 0 6px 0 0px;
    padding: 8px 2px 0;
    text-align: center;
    width: 46px;
}

.short-summary .votes, .short-summary .views {
    color: #666666;
}

.short-summary .favorites {
    width: 24px;
    float: left;
    text-align: center;
} */


.evenMore {
    font-size: 14px;
    font-weight: 800;
}

.questions-count {
    color: #104763;
    font-weight: 700;
    font-size: 110%;
    margin-top: 3px;
    margin-right: 5px;
    padding: 0 0 5px;
}

.boxA {
    background: none repeat scroll 0 0 #888A85;
    margin-bottom: 8px;
    padding: 6px;
}

.boxA h3 {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 800;
    margin: 0 0 4px;
    padding: 0;
}

.boxA .body {
    border: 1px solid #999999;
    font-size: 13px;
    padding: 8px;
}

.boxA .more {
    font-weight: 800;
    padding: 2px;
    text-align: right;
}

.boxB {
    background: none repeat scroll 0 0 #F9F7ED;
    border: 1px solid #AAAAAA;
    margin-bottom: 8px;
    padding: 6px;
}

.boxB h3 {
    background: url("../images/dot-g.gif") no-repeat scroll left center transparent;
    color: #000000;
    font-size: 13px;
    font-weight: 800;
    margin: 0 0 4px;
    padding: 0 0 0 15px;
}

.boxB .body {
    border: 1px solid #AAAAAA;
    font-size: 13px;
    line-height: 160%;
    padding: 8px;
}

.boxB .more {
    font-weight: 800;
    padding: 1px;
    text-align: right;
}

.boxC {
    border-bottom: 1px solid #e5eef4;
    padding: 10px;
}

.boxC p {
}

.boxC p.nomargin {
    margin: 0;
}

.boxC p.info-box-follow-up-links {
    margin: 0;
    text-align: right;
}

.pager {
    float: left;
    margin-bottom: 16px;
    margin-top: 10px;
}

.pagesize {
    float: right;
    margin-bottom: 16px;
    margin-top: 10px;
}

.paginator {
    font: 12px sans-serif;
    padding: 5px 0 10px;
}

.paginator .prev-na, .paginator .next-na {
    font: bold 0.875em sans-serif;
    padding: 0.3em;
}

.paginator .prev-na, .paginator .next-na {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    color: #AAAAAA;
    font-weight: normal;
}

.paginator .prev a, .paginator .prev a:visited, .paginator .next a, .paginator .next a:visited {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #777777;
    font: bold 100% sans-serif;
    padding: 2px 4px 3px;
}

.paginator .prev, .paginator .prev-na {
    margin-right: 0.5em;
}

.paginator .next, .paginator .next-na {
    margin-left: 0.5em;
}

.paginator .page a, .paginator .page a:visited, .paginator .curr {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #777777;
    font: 0.875em verdana;
    margin: 0 0.25em;
    padding: 0.25em;
}

.paginator .curr {
    background-color: #777777;
    border: 1px solid #777777;
    color: #FFFFFF;
    font-weight: bold;
}

.paginator .page a:hover, .paginator .curr a:hover, .paginator .prev a:hover, .paginator .next a:hover {
    background-color: #777777;
    border: 1px solid #777777;
    color: #FFFFFF;
    text-decoration: none;
}

.paginator .text {
    color: #777777;
    font: bold 100% sans-serif;
    padding: 0.3em;
}

.paginator-container {
    float: right;
    padding: 10px 0;
}

.paginator-container-left {
    padding: 5px 0 10px;
}

 .tags {
    display: block;
    line-height: 200%;
    margin-top: 5px;
}


.tags a, span.tag {
    background-color: #efefef;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    padding: 4px 8px;
    text-decoration: none;
    white-space: nowrap;
}


.tags a:hover {
    background-color: #356FCB;
    color: #FFFFFF;
}

.tagsbox {
    line-height: 200%;
}

.tagsbox a {
    background-color: #EEEEEE;
    border-color: #EEEEEE #CCCCCC #CCCCCC #777777;
    border-left: 3px solid #777777;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    color: #333333;
    font-size: 13px;
    font-weight: normal;
    padding: 1px 8px;
    text-decoration: none;
}

.tagsbox a:hover {
    background-color: #FFFFFF;
    color: #333333;
}

.tag-number {
    font-size: 14px; color: #999; }


.marked-tags {
    margin-bottom: 5px;
    margin-top: 0;
}

.deletable-tag {
    margin-right: 3px;
    white-space: nowrap;
}

a.medal {
    background: none repeat scroll 0 0 #FFFFCD;
    border-color: #EEEEEE #CCCCCC #CCCCCC #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 250%;
    padding: 4px 12px 4px 6px;
    text-decoration: none;
}

a.medal:hover {
    background: url("../images/medala_on.gif") no-repeat scroll 0 0 transparent;
    border-color: #E7E296 #D1CA3D #D1CA3D #E7E296;
    border-left: 1px solid #E7E296;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    text-decoration: none;
}

.tabBar {
    border-bottom: 1px solid #D7E1E7;
    clear: both;
    height: 34px;
    margin-bottom: 10px;
    width: 100%;
}

.tabsA {
    background: inherit;
    display: block;
    float: right;
    height: 24px;
    position: relative;
font-size: 14px; line-height: 20px; margin: 0px; padding: 0px 11px 10px 11px;
    border-bottom: 1px solid #D7E1E7; }


.tabsB {
    background-color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    position: relative;
}

.tabsA a {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #888A85;
    display: block;
    float: left;
    height: 20px;
    line-height: 22px;
    margin: 5px 4px 0 0;
    padding: 2px 11px;
    text-decoration: none; }





.tabsA a.on { background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D7E1E7;
    border-bottom-color: #ffffff;
    font-size: 120%;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0px 11px; }



.tabsA a.on, .tabsA a:hover, .tabsB a.on, .tabsB a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000;
}


.tabsA a:hover { border: 1px solid #D7E1E7;
    border-bottom-color: #fff;
    color: #333;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0px 11px 0px 11px; }
}

.tabsB a {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #EEEEEE;
    color: #777777;
    display: block;
    float: left;
    height: 22px;
    line-height: 28px;
    margin: 5px 0 0 4px;
    padding: 0 11px;
    text-decoration: none;
}

.headlineA {
    border-bottom: 1px solid #777777;
    font-size: 13px;
    font-weight: 800;
    height: 30px;
    margin-bottom: 12px;
    padding-bottom: 2px;
    text-align: right;
}

.headQuestions {
    border-bottom: 0 solid #777777;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: 5px 0 0 5px;
    padding: 0 6px 0 15px;
}

.headAnswers {
    background: url("../images/ico_answers.gif") no-repeat scroll left 2px transparent;
    float: left;
    font-size: 18px;
    font-weight: 800;
    padding: 3px 3px 3px 24px;
}

.headTags {
    background: url("../images/ico_tags.gif") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 18px;
    font-weight: 800;
    padding: 3px 3px 3px 24px;
}

.headUsers {
    background: url("../images/dot-list.gif") no-repeat scroll left center transparent;
    border-bottom: 0 solid #777777;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: 5px 0 0 5px;
    padding: 0 6px 0 15px;
}

.headMedals {
    background: url("../images/dot-list.gif") no-repeat scroll left center transparent;
    border-bottom: 0 solid #777777;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 23px;
    line-height: 23px;
    margin: 5px 0 0 5px;
    padding: 0 6px 0 15px;
}

.headLogin {
    background: url("../images/ico_login.gif") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 15px;
    font-weight: 800;
    padding: 3px 3px 3px 24px;
}

.headNormal {
    border-bottom: 1px solid #777777;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 3px;
    text-align: left;
}

.headUser {
    font-size: 20px;
    line-height:26px;
    font-weight: 700; }


#sidebar-user {padding: 5px; 5px 10px 5px; }
#sidebar-user img { float: left; margin-right:10px;  }

#feeds {
    margin: 10px 0;
}

#feeds a {
    background: url("../images/feed-icon-small.png") no-repeat scroll 0 50% transparent;
    font-size: 13px;
    font-weight: 700;
    padding-left: 18px;
}


.starter {
    background: none repeat scroll 0 0 #E0EAF1;
    padding: 10px;
}

.vote {
    color: #666666;
    font-size: 20px;
    font-weight: 800;
}

.questions-related {
    font-weight: 700;
    word-wrap: break-word;
}

.questions-related p {
    font-size: 100%;
    line-height: 20px;
    margin-bottom: 10px;
}

.question-status {
    background-color: #F5F5F5;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.question-status h3 {
    font-size: 125%;
}

.question-mark {
    overflow: hidden;
    padding: 5px;
    text-align: left;
}

.question-edit {
    overflow: hidden;
    text-align: left;
}

.vote-buttons {
    float: left;
    text-align: center;
 padding-top: 10px;
}

.vote-buttons img {
    cursor: pointer;
}

.vote-notification {
    background-color: darkred;
    color: White;
    cursor: pointer;
    display: none;
    padding: 15px;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.vote-notification a {
    color: White;
    text-decoration: underline;
}

.offensive-flag a {
    color: #777777;
    cursor: pointer;
    padding: 3px;
}

.offensive-flag a:hover {
    background-color: #777777;
    color: #FFFFFF;
    text-decoration: none;
}

.linksopt a {
    color: #777777;
    cursor: pointer;
    padding: 3px;
}

.linksopt a:hover {
    background-color: #777777;
    color: #FFFFFF;
    text-decoration: none;
}

.wiki-category {
    color: #999999;
    font-size: 90%;
    margin-left: 5px;
}

div.comments {
    line-height: 150%;
    padding: 10px 0;
}

div.post-comments {
    background: url("../images/gray-up-arrow-h18px.png") no-repeat scroll 0 0 transparent;
    clear: both;
    margin: 3px 0 10px;
    padding-left: 12px;
    width: 100%;
}

form.post-comments textarea {
    height: 6em;
    margin-bottom: 4px;
}

form.post-comments input {
    margin-left: 10px;
    margin-top: 1px;
    vertical-align: top;
    width: 100px;
}

span.form-error {
    color: #990000;
    font-weight: normal;
    margin-left: 5px;
}

p.form-item {
    margin: 0;
}

div.comments-container, div.comments-container-accepted, div.comments-container-owner, div.comments-container-deleted {
    padding: 0;
}

.post-comments a {
    color: #888888;
    padding: 0 3px 2px;
}

#answers {
}

.answer {
    border-bottom: 1px solid #CCCCCE;
    padding-top: 10px;
    width: 100%;
}

.accepted-answer {
    background-color: #EBFFE6;
    border-bottom-color: #9BD59B;
}

.accepted-answer .comments-link {
    background-color: #CCFFBF;
}

.accepted-answer .comments-container {
    background-color: #CCFFBF;
}

.answered {
    background: none repeat scroll 0 0 #E5EBF8;
    color: #314362;
}

.answered-accepted, .answer-votes.answered-accepted {
    background: none repeat scroll 0 0 #E6F8DD;
    color: #3A6231;
}

.unanswered {
    background: none repeat scroll 0 0 #F3E3E1;
    color: #6B2B28;
}

.answered-by-owner {
    background: none repeat scroll 0 0 #E9E9FF;
}

.answered-by-owner .comments-link {
    background-color: #E6ECFF;
}

.answered-by-owner .comments-container {
    background-color: #E6ECFF;
}

.answered-accepted strong {
    color: #E1E818;
}

.answer-img-accept:hover {
    background: url("../images/vote-accepted-on.png") repeat scroll 0 0 transparent;
}

.deleted {
    background: none repeat scroll 0 0 #F4E7E7;
}


/*______ TAGS PAGE ________*/
.tags a, span.tag { font-size: 18px; color: #333; background: #efefef; border: none; }


.tagsList {
    list-style-type: none;
    margin: 0;
    min-height: 360px;
    padding: 0;
}

.tagsList li { width: 190px; padding: 10px 0px 0px; }


.badge-list {
    list-style-type: none;
    margin: 0;
}

.badge-list a {
    color: #3060A8;
}

.badge-list a.medal {
    color: #333333;
}

.list-item {
    margin-left: 15px;
}

.list-item li {
    font-size: 13px;
    line-height: 20px;
    list-style-type: disc;
    margin-bottom: 10px;
}

.form-row {
    line-height: 25px;
}

table.form-as-table {
    margin-top: 5px;
}

table.form-as-table ul {
    display: inline;
    list-style-type: none;
}

table.form-as-table li {
    display: inline;
}

table.form-as-table th {
    font-weight: normal;
    text-align: left;
}

table.form-as-table pre {
    display: inline;
}

table.check-table td {
    padding-right: 50px;
}

.submit-row {
    clear: both;
    display: block;
    line-height: 30px;
    padding-top: 10px;
}

.errors {
    color: red;
    line-height: 20px;
}

.error {
    color: darkred;
    font-size: 10px;
    margin: 0;
}

.error-list li {
    padding: 5px;
}

.fieldset {
    border: medium none;
    margin-top: 10px;
    padding: 10px;
}

.openid-input {
    background: url("../images/openid.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    padding-left: 15px;
}

.openid-login-input {
    background: url("../images/openid.gif") no-repeat scroll 0 50% transparent;
    cursor: pointer;
    font-size: 150%;
    font-weight: 300;
    padding: 5px 5px 5px 15px;
    width: 500px;
}

.openid-login-submit {
    border: 1px solid #777777;
    cursor: pointer;
    font-size: 120%;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    width: 80px;
}

.openid-samples {
}

.openid-samples .list, .list li {
    line-height: 20px !important;
    list-style: none outside none !important;
    margin-left: -30px !important;
}

span.form-error {
    color: #990000;
    font-size: 90%;
    font-weight: normal;
    margin-left: 5px;
}

.title-desc {
    color: #666666;
    font-size: 90%;
}

#editor {
    font-size: 100%;
    line-height: 18px;
    min-height: 200px;
    width: 100%;
}

.wmd-preview {
    background-color: #F5F5F5;
    margin-top: 10px;
    min-height: 20px;
    padding: 6px;
    width: 100%;
}

.wmd-preview pre {
    background-color: #E7F1F8;
}

.wmd-preview blockquote {
    background-color: #EEEEEE;
}

.wmd-preview img {
    max-width: 600px;
}

.preview-toggle {
    color: #AAAAAA;
    font-weight: 600;
    text-align: left;
    width: 100%;
}

.preview-toggle span:hover {
    cursor: pointer;
}

.edit-content-html {
    border-bottom: 1px dotted #D8D2A9;
    border-top: 1px dotted #D8D2A9;
    margin: 5px 0;
}

#revisions {
    width: 950px;
}

.revision {
    font-size: 13px;
    margin: 10px 0;
    width: 100%;
}

.revision .header {
    background-color: #EEEEEE;
    cursor: pointer;
    padding: 5px;
}

.revision .author {
    background-color: #E9E9FF;
}

.revision .summary {
    padding: 5px 0 10px;
}

.revision .summary span {
    background-color: yellow;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.revision h1 {
    font-size: 130%;
    font-weight: 600;
    padding: 15px 0;
}

.revision-mark {
    display: inline-block;
    font-size: 90%;
    overflow: hidden;
    text-align: left;
    width: 200px;
}

.revision-number {
    font-size: 300%;
    font-weight: bold;
}

.revision .body {
    margin-bottom: 50px;
    padding-left: 10px;
}

.revision .answerbody {
    padding: 10px 0 5px 10px;
}

del {
    color: #FF5F5F;
}

del .post-tag {
    color: #FF5F5F;
}

ins {
    background-color: #97FF97;
}

ins .post-tag {
    background-color: #97FF97;
}

.count {
    color: #000;
    font-size: 180%;
    font-weight: 700;
}

.scoreNumber {
    color: #333;
    font-size: 24px;
    line-height: 30px;
}

.user-details {
    font-size: 13px;
}

.user-about {
    background-color: #EEEEEE;
    height: 200px;
    line-height: 20px;
    overflow: auto;
    padding: 10px;
    width: 90%;
}

.user-edit-link {
    background: url("../images/edit.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.favorites-count-off {
    color: #919191;
    float: left;
    margin: 10px 0 0;
    padding: 3px;
    text-align: center;
}

.favorites-count {
    color: #D4A849;
    float: left;
    margin: 10px 0 0;
    padding: 3px;
    text-align: center;
}

.favorites-empty {
    float: left;
    height: 45px;
    width: 32px;
}

.question-summary {
    border-bottom: 1px dotted #999999;
    float: left;
    overflow: hidden;
    padding: 11px 0;
    width: 780px;

}

.user-info-table {
    margin-bottom: 10px;
}


.narrow .stats {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 48px;
    margin: 0 0 0 7px;
    padding: 0;
    width: auto;
}

.stats div {
    font-size: 11px;
    text-align: center;
}

.narrow .votes {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    height: 42px;
    margin: 0 3px 0 0;
    padding: 5px;
    text-align: center;
    width: 46px;
}

.narrow .summary {
    display: inline-block;
    width: 600px;
}

.narrow .summary h3 {
    margin: 0;
    padding: 0;
}

.narrow .views {
    -moz-border-radius: 5px 5px 5px 5px;
    float: left;
    height: 42px;
    margin: 0 7px 0 0;
    padding: 5px;
    text-align: center;
    width: 46px;
}

.narrow .status {
    -moz-border-radius: 5px 5px 5px 5px;
    float: left;
    height: 42px;
    margin: 0 3px 0 0;
    padding: 5px;
    text-align: center;
    width: 46px;
}

.narrow .vote-count-post {
    color: #555555;
    display: block;
    font-size: 190%;
    font-weight: 800;
    line-height: 20px;
    margin: 0;
}

.narrow .answer-count-post {
    display: block;
    font-size: 190%;
    font-weight: 800;
    margin: 0;
}

.narrow .views-count-post {
    display: block;
    font-size: 190%;
    font-weight: 800;
    margin: 0;
}

div.started {
    color: #999999;
    float: right;
    line-height: 18px;
}

.narrow div.started {
    line-height: inherit;
    padding-top: 4px;
    white-space: nowrap;
    width: auto;
}

.relativetime {
    text-decoration: none;
}

div.started a {
    font-weight: bold;
}

div.started .reputation-score {
    margin-left: 1px;
}

.narrow .tags {
    float: left;
}

.answer-summary {
    clear: both;
    display: block;
    padding: 3px;
}

.answer-votes {
    background-color: #EEEEEE;
    color: #555555;
    float: left;
    font-size: 110%;
    font-weight: bold;
    height: 15px;
    margin-right: 10px;
    padding: 4px 4px 5px;
    text-align: center;
    text-decoration: none;
    width: 20px;
}

.vote-count {
    color: #777777;
    font-size: 160%;
    font-weight: 700;
}

.user-action {
}

.user-action-1 {
    color: #333333;
    font-weight: bold;
}

.user-action-2 {
    color: #CCCCCC;
    font-weight: bold;
}

.user-action-3 {
    color: #333333;
}

.user-action-4 {
    color: #333333;
}

.user-action-5 {
    color: darkred;
}

.user-action-6 {
    color: darkred;
}

.user-action-7 {
    color: #333333;
}

.user-action-8 {
    background-color: #CCCCCC;
    color: #763333;
    font-weight: bold;
    padding: 3px;
}

.revision-summary {
    background-color: #FFFE9B;
    padding: 2px;
}

.question-title-link a {
    color: #0077CC;
    font-weight: bold;
}

.answer-title-link a {
    color: #333333;
}

.post-type-1 a {
    font-weight: bold;
}

.post-type-3 a {
    font-weight: bold;
}

.post-type-5 a {
    font-weight: bold;
}

.post-type-2 a {
    color: #333333;
}

.post-type-4 a {
    color: #333333;
}

.post-type-6 a {
    color: #333333;
}

.post-type-8 a {
    color: #333333;
}

.bookInfo {
    float: left;
    padding: 5px;
    width: 940px;
}

.bookCover {
    float: left;
    width: 200px;
}

.bookCover img {
    border: 1px solid #CCCCCC;
    max-width: 200px;
}

.bookSummary {
    float: left;
    font-size: 13px;
}

.blogRss {
    background-color: #EEEEEE;
    float: right;
    height: 240px;
    margin: 0 10px 0 0;
    padding: 5px;
    width: 460px;
}

.bookQuestions {
    margin-bottom: 10px;
}

.bookFeed {
    float: right;
}

.bookAsk {
    float: right;
    margin: -30px 10px 0 0;
    padding: 3px 5px;
}

.bookAsk a {
    background-color: #EC7000;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
}

.bookAsk a:hover {
    text-decoration: underline;
}

.hilite {
    background-color: #FFFF00;
}

.hilite1 {
    background-color: #FFFF00;
}

.hilite2 {
    background-color: #FF00FF;
}

.hilite3 {
    background-color: #00FFFF;
}

.userStatus {
    color: #FFFFFF;
    float: right;
    margin-left: 12px;
}

.userStatus a {
    color: #FFFFFF;
}

.gold, .badge1 {
	font-size:22px;
    color: #FFCC00;
}

.silver, .badge2 {
	font-size:18px;
    color: #CCCCCC;
}

.bronze, .badge3 {
	font-size:16px;
    color: #CC9933;
}

.score {
    color: #333333;
    font-size: 110%;
    font-weight: bold;
    margin-left: 3px;
}

.footerLinks {
    color: #3060A8;
    font-size: 13px;
}

.footerLinks a {
    color: #3060A8;
    font-size: 13px;
}

.subSearch {
    margin-bottom: 12px;
    padding: 4px;
}

a.comment {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #993300;
    padding: 4px;
}

a.permLink {
    padding: 2px;
}

a.offensive {
    color: #999999;
}

ul.bulleta li {
    background: url("../images/bullet_green.gif") no-repeat scroll 0 2px transparent;
    margin-bottom: 4px;
    padding-left: 16px;
}

.user {
    line-height: 140%;
    padding: 5px;
    width: 170px;
    display: inline-block;
}

.user ul {
    list-style-type: none;
    margin: 0;
}

.user .thumb {
    clear: both;
    display: inline;
    float: left;
    margin-right: 4px;
}

.yellowbg {
    background: none repeat scroll 0 0 yellow;
}

.message {
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    margin: 10px 0;
    padding: 5px;
}

.message h1 {
    font-size: 15px;
    padding-top: 0;
}

.message p {
    margin-bottom: 0;
}

p.space-above {
    margin-top: 10px;
}

.warning {
    color: red;
}

.darkred {
    color: darkred;
}

.submit {
    background-color: #D4D0C8;
    border: 1px solid #777777;
    cursor: pointer;
    font-size: 120%;
    font-weight: bold;
    padding: 10px 20px;
}

.submit:hover {
    text-decoration: underline;
}

.ask-body {
    padding-right: 10px;
}

.thousand {
    color: orange;
}

.notify {
    background-color: #000;
    border-bottom: 1px solid #999;
    color: #fefefe;
    left: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

.notify p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#close-notify {
    background-color: #FAD163;
    border: 2px solid #735005;
    color: #735005;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    padding: 0 3px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
}

#close-notify:hover {
    text-decoration: none;
}

.big {
    font-size: 15px;
}

.bigger {
    font-size: 14px;
}

.strong {
    font-weight: bold;
}

.orange {
    color: #D64000;
    font-weight: bold;
}

.grey {
    color: #808080;
}

.about div {
    border-top: 1px dashed #AAAAAA;
    padding: 10px 5px;
}

.about div.first {
    border-top: medium none;
    padding-top: 0;
}

.about p {
    margin-bottom: 10px;
}

.about a {
    color: #D64000;
    text-decoration: underline;
}

.about h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 0;
}

.highlight {
    background-color: #FFF8C6;
}

.nomargin {
    margin: 0;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.inline-block {
    display: inline-block;
}

.action-status {
    border: medium none;
    font-size: 12px;
    line-height: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.action-status span {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #FFF380;
    font-weight: normal;
    padding: 3px 5px;
}

.tight {
    margin: 0;
    padding: 0;
}

.list-table td {
    vertical-align: top;
}

.delete-icon {
    padding-left: 3px;
    vertical-align: middle;
}

table.form-as-table .errorlist {
    color: darkred;
    display: block;
    font-size: 10px;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: left;
}

table.form-as-table input {
    display: inline;
    margin-left: 4px;
}

table.form-as-table th {
    padding-bottom: 4px;
    vertical-align: bottom;
}

.form-row-vertical {
    display: block;
    margin-top: 8px;
}

.form-row-vertical label {
    display: block;
    margin-bottom: 3px;
}

.text-align-right {
    text-align: center;
}

ul.form-horizontal-rows {
    list-style: none outside none;
    margin: 0;
}

ul.form-horizontal-rows li {
    height: 40px;
    position: relative;
}

ul.form-horizontal-rows label {
    display: inline-block;
}

ul.form-horizontal-rows ul.errorlist {
    color: darkred;
    font-size: 10px;
    left: 180px;
    line-height: 10px;
    list-style: none outside none;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 2px;
}

ul.form-horizontal-rows ul.errorlist li {
    height: 10px;
}

ul.form-horizontal-rows label {
    bottom: 6px;
    font-size: 12px;
    left: 0;
    line-height: 12px;
    margin: 0;
    position: absolute;
}

ul.form-horizontal-rows li input {
    bottom: 0;
    left: 180px;
    margin: 0;
    position: absolute;
}

/*______ DIALOG POP-UP ________*/
div.dialog { position: absolute; background-color: #EEEEEE; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 2px 2px 5px #3060A8; -webkit-box-shadow: 2px 2px 5px #3060A8; }
div.dialog.confirm { font-size: 140%; font-weight: bold; }
div.dialog .dialog-content { padding: 12px 12px 42px 12px; z-index: 1000; }
div.dialog .dialog-buttons { margin: 0px;
    height: 25px; text-align: center;
    position: absolute; bottom: 0px; left: 0px; width: 100%; }
.dialog-yes, .dialog-no { padding: 0px 5px; margin: 0 3px 5px 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #3060A8; color: white; line-height: 20px; vertical-align: baseline; font-weight: bold; border: 0; }

#emailpw-form li input {
    left: 170px;
}

#emailpw-form ul.errorlist {
    left: 170px;
}

#changepw-form li input {
    left: 150px;
}

#changepw-form ul.errorlist {
    left: 150px;
}

.narrow .summary {
    float: left;
}

.narrow .summary .question-title {
    font-size: 120%;
    font-weight: bold;
}

.user-profile-tool-links {
    font-weight: bold;
    padding-bottom: 10px;
}

.post-controls {
    font-size: 11px;
    line-height: 12px;
    min-width: 200px;
    margin-bottom: 5px;
}

#question-controls .tags {
    margin: 0px;
    float:left;
}

.post-update-info-container {
    min-width: 170px;
}

.post-update-info {
    display: inline-block;
    width: 170px;
    float: right;
}

.post-update-info p {
    font-size: 11px;
    line-height: 15px;
    margin: 0 0 4px;
    padding: 0;
}

.post-update-info img {
    float: left;
    margin: 4px 8px 0 0;
}

.comments-container {
    clear: both;
}

.admin {
    background-color: #FFF380;
    border: 1px solid darkred;
    padding: 0 5px;
}

.admin p {
    margin-bottom: 3px;
}

.admin #action_status {
    font-weight: bold;
    text-align: center;
}

#tagSelector {
    padding-bottom: 2px;
}

#hideIgnoredTagsControl {
    margin: 5px 0 0;
}

#hideIgnoredTagsCb {
    margin: 0 2px 0 1px;
}

#recaptcha_widget_div {
    clear: both;
    float: left;
    width: 318px;
}

p.signup_p {
    margin: 20px 0 0;
}

.simple-subscribe-options ul {
    list-style: none outside none;
    margin: 0;
}

.categories-box ul {
    list-style: none;
    margin-left: 0;
    margin-top: 6px; }

.categories-box ul {
    list-style: none; }

.categories-box ul li a {
    display: block;
    background: #e2edfa;
    padding: 6px 10px;
    margin-bottom: 3px;
    color: #092f42;
    text-decoration: none;
    -moz-transition: background-color .4s;
    -o-transition: background-color .4s;
    -webkit-transition: background-color .4s;
    -ms-transition: background-color .4s;
    transition: background-color .4s; }

.categories-box a { font-size: 14px; }

.categories-box ul li a:hover { color: #e2edfa; background-color:#092f42; }


/*______ SIDEBAR ________*/
#searchBar { clear:both; }
#sidebar-search { font-size: 16px; }
#sidebar-search .searchInput { font-size: 16px; height: 22px; width: 140px; }
#sidebar-search .searchBtn { font-size: 24px; }

.sponsored-ad-box { border-bottom: 1px solid #E5EEF4;padding: 10px; }
.categories-box { border-bottom: 1px solid #E5EEF4; }

a.sidebar_button {
    background: none repeat scroll 0 0 #EEEEEE;
    color: black;
    cursor: pointer;
    font-size: 11px;
    padding: 3px;
}

a.sidebar_button:hover {
    background-color: #777777;
    color: white;
    text-decoration: none;
}

a.post-vote, .favorite-mark, a.accept-answer {
    display: block;
    height: 30px;
    position: relative;
    width: 30px;
}

a.post-vote.up { background: url("https://cdn2.iconfinder.com/data/icons/picol-vector/32/arrow_sans_up-24.png") no-repeat scroll center center transparent; opacity: 0.4; }


a.post-vote.up.on, a.post-vote.up:hover { background: url("https://cdn1.iconfinder.com/data/icons/freeapplication/png/24x24/Dollar.png") no-repeat scroll center center transparent; opacity:1;}


a.post-vote.down { background: url("https://cdn2.iconfinder.com/data/icons/picol-vector/32/arrow_sans_down-24.png") no-repeat scroll center center transparent; opacity: 0.4; height:20px; }


a.post-vote.down.on, a.post-vote.down:hover { background: url("https://cdn1.iconfinder.com/data/icons/pixelo/32/poo.png") no-repeat scroll center center transparent; opacity:1; height:30px; }


a.accept-answer {
    background: url("/m/default/media/images/vote-accepted.png") no-repeat scroll center center transparent;
}

a.accept-answer.on, a.accept-answer:hover {
    background: url("/m/default/media/images/vote-accepted-on.png") no-repeat scroll center center transparent;
}

.post-score {
    color: #777777;
    font-size: 140%;
    font-weight: bold;
    padding: 0 0 3px;
}

.favorite-mark {
    background: url("/m/default/media/images/vote-favorite-off.png") no-repeat scroll center center transparent;
}

.favorite-mark.on, a.favorite-mark:hover {
    background: url("/m/default/media/images/vote-favorite-on.png") no-repeat scroll center center transparent;
}

.favorite-count {
    color: #777777;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
}

.comment {
    border-top: 1px dotted #CCCCCE;
    margin: 0;
    width: 100%;
}

.comment.not_top_scorer {
    display: none;
}

.comment-score {
    color: #777777;
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
    vertical-align: top;
    width: 22px;
}

.comment-text {
    color: #444444;
    font-size: 11px;
    margin: 0 0 0 22px;
    padding: 0;
}

.comment-info {
    font-size: 11px;
    margin: 0;
    text-align: right;
}

a.comment-like, a.comment-delete, a.comment-edit {
    float: right;
    height: 18px;
    margin-left: 2px;
    position: relative;
    width: 18px;
}

a.comment-like {
    background: url("/m/default/media/images/comment-like.png") no-repeat scroll center center transparent;
}

a.comment-like:hover, a.comment-like.on {
    background: url("/m/default/media/images/comment-like-on.png") no-repeat scroll center center transparent;
}

a.comment-delete {
    background: url("/m/default/media/images/comment-delete.png") no-repeat scroll center center transparent;
}

a.comment-delete:hover {
    background: url("/m/default/media/images/comment-delete-hover.png") no-repeat scroll center center transparent;
}

a.comment-edit {
    background: url("/m/default/media/images/comment-edit.png") no-repeat scroll center center transparent;
}

a.comment-edit:hover {
    background: url("/m/default/media/images/comment-edit-hover.png") no-repeat scroll center center transparent;
}

.comment-form-container {
    display: none;
    padding-top: 12px;
}

.comment-form-widgets-container input {
    vertical-align: top;
}

.comment-form-widgets-container textarea {
    height: 6em;
    width: 80%;
}

span.comment-chars-left {
    font-size: 11px;
    margin-right: 20px;
}

span.comment-chars-left.warn {
    color: red;
}

div.comment-tools {
    border-top: 1px dotted #ddd;
    text-align: right;
}

div.comment-tools .comments-showing {
    color: #777777;
    font-size: 11px;
}

div.comment-tools a {
    color: #666;
    cursor: pointer;
    font-size: 11px;
}

div.comment-tools a:hover {
    background-color: #777777;
    color: white;
    padding: 3px;
    text-decoration: none;
}

.action-link a {
    color: #777777;
    cursor: pointer;
    padding: 3px;
}

.action-link a.ajax-command:hover {
    background-color: #777777;
    color: #FFFFFF;
    text-decoration: none;
}

.action-link-separator {
    color: #CCCCCC;
}


div.short-summary { /* Containing div must have a position value */
    position:relative;
}
div.short-summary a.biglink { /* Make whole home page topic div clickable to topic permalink (override individual exceptions below) */
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index: 1;
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}
.posted, .topthumb { /* Specify divs that contain links within topic divs on item.html/home page/etc. so they are clickable */
    position:relative;
    z-index: 10;
}


.short-summary h2 a:hover, .short-summary a:hover, .biglink:hover { color: #0000ff !important; text-decoration:underline; }
div.item-count {  float: right; margin-left: 20px; text-align: right; }


.short-summary {
    -webkit-box-shadow: #D7E1E7 0 -1px 0 inset;
    -moz-box-shadow: #d7e1e7 0 -1px 0 inset;
    -ms-box-shadow: #d7e1e7 0 -1px 0 inset;
    -o-box-shadow: #d7e1e7 0 -1px 0 inset;
    box-shadow: #D7E1E7 0 -1px 0 inset;
    border-bottom: 1px solid #D7E1E7;
    float: left;
    overflow: hidden;
    position: relative;
    width: 98%;
    padding: 10px;
}

.short-summary:hover { background:#f6f6f6; }

.short-summary h2 a {
    color: #092f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; float:left; }

}



.votes-section { margin-right: 20px; float: left; width: 500px; height:100px; }
.votes-section h2 { font-size: 160%; float: left; padding-right: 30px; }

.badges-section { float: right; width: 500px; height:100px; }
.badges-section h2 { font-size: 160%; float: left; padding-right: 30px; }


#questionsblock { margin-right: 20px; float: left; width: 500px; }
.user-stats-table  { width: 500px; }

.topics-section { margin-right: 20px; float: left; width: 500px; }
.topics-section h2 { font-size: 160%; }

.posts-section { float: right; width: 500px; }
.posts-section h2 { font-size: 160%; }



/*___ POSTS ____*/



.answer-body { width: 560px; float: left; margin: 10px 0px 0px 10px; }
.answer-body img, .question-body img { max-width: 600px; }
.answer-body p, .question-body p { font-size: 16px; }
.post-update-info a, .post-update-info a { font-size: 14px; line-height: 15px; }
.author-name a { font-size: 14px; font-weight: bold; color: #444; }

.post-controls { float:left; }



.search-options { padding: 5px 10px 10px 10px; font-size: 14px; }
.more { padding-top: 5px; }
.questions-count { text-align: right; font-size: 16px; }



/*______ BADGES PAGE________*/
#medalList .badgeListDescription { float: left; margin-top: 8px; max-width: 60%; }
#medalList .badgeListItem { float: left; width: 32%; }
#medalList .intoMyBadges span { font-size: 175%; padding-right: 5px; color: #5B9058; }
#medalList .intoMyBadges { float: left; min-width: 5%; text-align: right; height: 30px; }
a.medal { background: none; }


